<footer class="mt4 pb2">
  <div class="container">
    <!--<div class="row mthalf align-left sans">
      <div class="p1 col-sm-10 col-sm-offset-1">
        <nav class="smallest">
          <a href="/#cikkek" class="mr1">Cikkek</a>
          <a href="/#linkek" class="mr1">Hasznos linkek</a>
          <a href="/#kapcsolat">Kapcsolat</a>
        </nav>
      </div>
    </div>
    -->
    <div class="row mthalf align-left sans light">
      <div class="p1 col-sm-10 col-sm-offset-1">
        <p class="smallest gray expanded">&copy; <%= site.currentYear %> <%= site.title %><br> <i>Design by Gulácsi András</i></p>
      </div>
    </div>
  </div>
</footer>
