<footer class="mt5 mb2">
  <div class="container">
    <div class="row mthalf align-left pl1 sans">
      <div class="pull-right mr1">
        <a href="<%= site.facebook %>">
          <img class="mt0 icon" src="/assets/images/facebook.png" alt="Facebook ikon" title="Facebook oldal"></a>
        <a href="<%= site.youtube %>">
          <img class="icon" src="/assets/images/youtube.png" alt="Youtube ikon" title="Youtube csatorna">
        </a>
      </div>
      <p class="smallest gray expanded">&copy; <%= site.currentYear %> <%= site.author %><br> <i>Design by Gulácsi András</i>
      </p>
    </div>
  </div>
</footer>
