<footer class="mt4 pb2">
  <div class="container">
    <div class="row sans light">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1">
        <div class="fb-page" data-href="https://www.facebook.com/kizombavilag/" data-tabs="timeline" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/kizombavilag/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/kizombavilag/">Kizombavilág</a></blockquote></div>
      </div>
    </div>
    <div class="row">
      <div class="mt2 p1 col-sm-10 col-sm-offset-1">
        <p class="smallest gray expanded">&copy; <%= site.currentYear %> <%= site.title %></p>
      </div>
    </div>
  </div>
</footer>
