<footer class="pt1 bg-black">
  <div class="container pl2 pr2">
    <div class="row">
      <div class="col-xs-12">
        <p class="smallest gray expanded light">&copy; <%= site.currentYear %> <%= site.title %></p>
      </div>
    </div>
  </div>
</footer>
