<header>
  <nav class="navbar navbar-inverse navbar-static-top bg-black border-none" role="navigation">
    <div class="navbar-header">    
      <div class="inline">
        <a href="\"><img class="logo unselectable ml2 mthalf mb0 pull-left" src="/assets/images/logo.gif"></a>
        <a href="\" class="bold-800 medium-gray sans expanded navbar-brand navbar-brand-fix pl0"><%= site.title %></a>
      </div>
    </div>
  </nav>
</header>
