<header>
  <div class="mb3 bg-red" style="width: 100%">
    <div class="container-fluid pl2 pr2 m0 pb3">
      <div class="row mb1">
        <div class="col-xs-12">
          <a href="/" class="no-underline"><img class="pull-left logo" src="/assets/images/logo.png" alt="Kizombavilág logó">
            <h1 class="logo-text black">Kizombavilág</h1>
          </a>
        </div>
      </div>
      <div class="row mb2">
        <div class="col-xs-12 col-sm-10 col-md-9">
          <h1 class="mt0 mb0 huge black-900 gold expanded-3 word-spacing lh11 tshadow-black unselectable"><%= site.quote %></h1>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-lg-4">
          <div class="unselectable mb2">
            <ul class="bigger-on-mobile small black pl1 mb0 mt0 lh2 expanded pipa">
              <li>Hiteles és angolai forrásokból</li>
              <li>Színvonalas cikkek a kizombáról</li>
              <li>Autentikus táncosok videói</li>
              <li>Minőségi zenék Nyugat-Afrikából</li>
            </ul>
          </div>
          <a title="Facebook oldal" class="no-visited no-underline btn btn-primary btn-lg medium uppercase sans bold-700 expanded mb2" href="https://www.facebook.com/kizombavilag/" role="button">Tovább a Facebook oldalra</a>
        </div>
        <div class="col-xs-12 col-sm-6 col-lg-4">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/PSq4z2d_au4?rel=0&controls=1&showinfo=0&modestbranding=1&autohide=0&cc_load_policy=0&iv_load_policy=3&autoplay=0&mute=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</header>
