<header>
  <nav class="navbar navbar-inverse navbar-static-top bg-black border-none" role="navigation">
    <div class="navbar-header">
      <div class="inline">
        <a href="\"><img class="logo unselectable ml2 mthalf mb0 pull-left" src="/assets/images/logo.gif"></a>
        <a href="\" class="bold-800 medium-gray sans expanded navbar-brand navbar-brand-fix pl0"><%= site.title %></a>
      </div>
    </div>
    <div class="navbar-collapse collapse">
      <ul id="mobile-menu" class="nav navbar-nav pull-right mr2 sans bold-500">
        <li><a href="\#cikkek" class="uppercase">Cikkek</a></li>
        <li><a href="\#linkek" class="uppercase">Hasznos linkek</a></li>
        <li><a href="\#kapcsolat" class="uppercase">Kapcsolat</a></li>
      </ul>
    </div>
  </nav>
</header>
