<header>
  <div class="mt1">
    <div class="container-fluid pl2 pr2 m0">
      <div class="row">
        <div class="col-xs-12">
          <a href="/" class="no-underline"><img class="pull-left logo-small m0 mrquarter" src="/assets/images/logo.png">
            <h1 class="logo-text-small black mb0">Kizombavilág</h1>
          </a>
        </div>
      </div>
    </div>
  </div>
</header>