<header>
  <nav id="mobile-nav" class="navbar navbar-inverse navbar-static-top bg-black border-none" role="navigation">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
          
      <div class="inline">
        <a href="\"><img class="logo unselectable ml2 mthalf mb0 pull-left" src="/assets/images/logo.gif"></a>
        <a href="\" class="bold-800 medium-gray sans expanded navbar-brand navbar-brand-fix pl0"><%= site.title %></a>
      </div>
    </div>
    
    <div class="navbar-collapse collapse">
      <ul id="mobile-menu" class="nav navbar-nav pull-right mr2 sans bold-500">
        <li><a href="#cikkek" class="uppercase">Cikkek</a></li>
        <li><a href="#linkek" class="uppercase">Hasznos linkek</a></li>
        <li><a href="#kapcsolat" class="uppercase">Kapcsolat</a></li>
      </ul>
    </div>
  </nav>
</header>

<div class="intro header-whitespace">
  <div class="jumbotron">
    <div class="container">
      <h1 id="site-title" class="black-900 white expanded-3 word-spacing lh11 tshadow-black mb1 unselectable"><%= site.quote %></h1>
      <div class="row">
        <div class="col-xs-12">
          <div class="modul unselectable mb1 mthalf border-shadow">
            <ul class="italic bold-500 mb0 mt0 medium sans pipa">
              <li>Hiteles, angolai forrásból származó infók</li>
              <li>Színvonalas cikkek a kizomba kultúráról</li>
              <li>Autentikus táncosok inspiráló videói</li>
              <li>Minőségi zenék, amiket Palop DJ-k játszanak</li>
            </ul>
          </div>
          <p><a title="Már több mint 400-an megtették" class="no-visited btn btn-primary btn-lg medium uppercase sans bold-700 expanded mb2" href="https://www.facebook.com/kizombavilag/" role="button">Kövess minket a Facebook-on!</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
