<div class="container-fluid m0 bg-black white uppercase smallest sans bold-500">
  <div class="row mobile-nav bg-black">
    <div class="col-xs-4 pt1 pb1 align-center">
      <a href="/#cikkek" class="light-gray">Cikkek</a>
    </div>
    <div class="col-xs-4 pt1 pb1 align-center">
    <a href="/#linkek" class="light-gray">Linkek</a>
    </div>
    <div class="col-xs-4 pt1 pb1 align-center">
      <a href="/#kapcsolat" class="light-gray">Kapcsolat</a>
    </div>
  </div>
</div>