<h1 class="mbhalf expanded black-900 mt2"><%= title %></h1>
<p class="medium italic gray mb3 light"><span class="prquarter"><%= author %></span> | <span class="prquarter plquarter"><%= date %></span> | <a class="plquarter smallest" id="english-version" href="#"><img class="mr0 emoji" src="/assets/images/emoji/english.png" alt="English flag">In English</a></p>
