<div class="mt4">
  <h3 class="sans dark-gray mbhalf">Ha tetszett, akkor like-old vagy oszd meg a cikket! Köszönjük!</h3>
  <div class="fb-like" data-href="<%= canonicalUrl %>" data-width="294" data-layout="standard" data-action="like" data-size="large" data-show-faces="true" data-share="true"></div>
  <!--<div class="share-page medium sans dark-gray mb4">
    A cikk megosztása:
    <a href="https://plus.google.com/share?url=<%= canonicalUrl %>" rel="nofollow" target="_blank" title="Megosztás itt: Google+">Google+</a> | 
    <a href="https://facebook.com/sharer.php?u=<%= canonicalUrl %>" rel="nofollow" target="_blank" title="Megosztás itt: Facebook">Facebook</a>
    
  </div>-->
</div>