
.bg-article-1 {
    background: url(../images/articles/eddyventschallenge.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 360px;
    border-radius: 4px;
}

.bg-article-2 {
    background: url(../images/articles/banda_maravilha.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 180px;
    border-radius: 4px;
}

.bg-article-3 {
    background: url(../images/articles/eddyvents.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 180px;
    border-radius: 4px;
}