@charset "UTF-8";
/* Created by András Gulácsi (@andrasgulacsi / salsaboy990), 2018-03-07 */

@media (max-width: 400px) {
    body, html {
        font-size: 14px !important
    }

    .bigger-on-mobile {
        font-size: 1.1rem !important;
    }

    .mobile-input {
        font-size: 1.1rem !important;
    }

    .profile-small {
        width: 60px !important;
    }
}

@media (max-width: 520px) {
    .clear-padding {
        padding: 0 !important
    }

    body, html {
        font-size: 16px !important
    }

    .mobile-input {
        font-size: 1.1rem !important;
    }

    .mobile-title {
        font-size: 1.7rem !important;
    }

    .bigger-on-mobile {
        font-size: 1.1rem !important;
    }

    #main-article-mobile {
        max-height: 180px !important;
    }

    .profile-small {
        width: 70px;
    }
}

@media (min-width: 60rem) {
    .modul {
        max-width: 450px !important;
    }

    html, body {
        font-size: 28px
    }
}

/* Clearfix hack to clear the floats */
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table
}

.clearfix:after {
    clear: both
}

/*
!++++++ MARGINS
*/

/* 0 rem */
.m0 {
    margin: 0rem
}

.mt0 {
    margin-top: 0rem
}

.mr0 {
    margin-right: 0rem
}

.mb0 {
    margin-bottom: 0rem
}

.ml0 {
    margin-left: 0rem
}

/* 1 rem */
.m1 {
    margin: 1rem
}

.mt1 {
    margin-top: 1rem
}

.mr1 {
    margin-right: 1rem
}

.mb1 {
    margin-bottom: 1rem
}

.ml1 {
    margin-left: 1rem
}

/* 2 rem */
.m2 {
    margin: 2rem
}

.mt2 {
    margin-top: 2rem
}

.mr2 {
    margin-right: 2rem
}

.mb2 {
    margin-bottom: 2rem
}

.ml2 {
    margin-left: 2rem
}

.ml23 {
    margin-left: 2.4rem
}

/* 3 rem */
.m3 {
    margin: 3rem
}

.mt3 {
    margin-top: 3rem
}

.mr3 {
    margin-right: 3rem
}

.mb3 {
    margin-bottom: 3rem
}

.ml3 {
    margin-left: 3rem
}

/* 4 rem */
.m4 {
    margin: 4rem
}

.mt4 {
    margin-top: 4rem
}

.mr4 {
    margin-right: 4rem
}

.mb4 {
    margin-bottom: 4rem
}

.ml4 {
    margin-left: 4rem
}

/* 5 rem */
.m5 {
    margin: 5rem
}

.mt5 {
    margin-top: 5rem
}

.mr5 {
    margin-right: 5rem
}

.mb5 {
    margin-bottom: 5rem
}

.ml5 {
    margin-left: 5rem
}

/* 6 rem */
.m6 {
    margin: 6rem
}

.mt6 {
    margin-top: 6rem
}

.mr6 {
    margin-right: 6rem
}

.mb6 {
    margin-bottom: 6rem
}

.ml6 {
    margin-left: 6rem
}

.mx-auto {
    margin-left: auto;
    margin-right: auto
}

.mhalf {
    margin: 0.5rem
}

.mthalf {
    margin-top: 0.5rem
}

.mrhalf {
    margin-right: 0.5rem
}

.mrquarter {
    margin-right: 0.25rem
}

.mbhalf {
    margin-bottom: 0.5rem
}

.mlhalf {
    margin-left: 0.5rem
}


/*
!++++++ PADDINGS
*/

/* 0 rem */
.p0 {
    padding: 0rem
}

.pt0 {
    padding-top: 0rem
}

.pr0 {
    padding-right: 0rem
}

.pb0 {
    padding-bottom: 0rem
}

.pl0 {
    padding-left: 0rem
}

/* 1 rem */
.p1 {
    padding: 1rem
}

.pt1 {
    padding-top: 1rem
}

.pr1 {
    padding-right: 1rem
}

.pb1 {
    padding-bottom: 1rem
}

.pl1 {
    padding-left: 1rem
}

/* 2 rem */
.p2 {
    padding: 2rem
}

.pt2 {
    padding-top: 2rem
}

.pr2 {
    padding-right: 2rem
}

.pb2 {
    padding-bottom: 2rem
}

.pl2 {
    padding-left: 2rem
}

/* 3 rem */
.p3 {
    padding: 3rem
}

.pt3 {
    padding-top: 3rem
}

.pr3 {
    padding-right: 3rem
}

.pb3 {
    padding-bottom: 3rem
}

.pl3 {
    padding-left: 3rem
}

/* 4 rem */
.p4 {
    padding: 4rem
}

.pt4 {
    padding-top: 4rem
}

.pr4 {
    padding-right: 4rem
}

.pb4 {
    padding-bottom: 4rem
}

.pl4 {
    padding-left: 4rem
}


.phalf {
    padding: 0.5rem
}

.pthalf {
    padding-top: 0.5rem
}

.prhalf {
    padding-right: 0.5rem
}

.prquarter {
    padding-right: 0.25rem
}

.pbhalf {
    padding-bottom: 0.5rem
}

.plhalf {
    padding-left: 0.5rem
}

.plquarter {
    padding-left: 0.25rem
}


*,
*::after,
*::before {
    box-sizing: inherit
}

html {
    box-sizing: border-box
}

body {
    color: #333;
    background: #FFF;
    font-family: 'Tinos', Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    width: 100%;
    height: 100%;
    text-align: left
}

body, p, blockquote,
figure, figcaption {
    margin: 0;
    padding: 0;
}

pre {
    margin: 2rem 0;
    padding: 0;
}

pre code {
    font-size: 0.8rem;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Alegreya Sans', Arial, Helvetica, sans-serif;
    font-weight: 700;
    margin: 2rem 0 0.75rem 0;
    -webkit-font-smoothing: initial;
    line-height: 1.3
}

.sans {
    font-family: 'Alegreya Sans', Arial, Helvetica, sans-serif;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    text-decoration: underline;
    font-weight: 700
}

h1,
.h1 {
    /*font-size: 1.7rem;*/
    font-size: 2.4rem;
    margin-top: 0
}

h2,
.h2 {
    font-size: 1.5rem
}

h3,
.h3 {
    font-size: 1.17rem
}

h4,
.h4 {
    font-size: 1rem
}

h5,
.h5 {
    font-size: 0.8rem;
}

h6,
.h6 {
    font-size: 0.67rem
}

p {
    font-size: 1.1rem;
    margin-top: 0;
    margin-bottom: 1rem;
}

ol,
ul {
    margin-top: 0;
    padding-left: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-size: 1.1rem;
}

.no-bullets {
    list-style-type: none;
    margin-left: 0rem;
    padding-left: 0;
    line-height: 1.1;
}

blockquote {
    background: #eee;
    font-style: italic;
    font-family: 'Tinos', Georgia, 'Times New Roman', Times, serif;
    color: #222;
    font-size: 1rem;
    margin: 2rem 1rem;
    padding: 0.5rem;
    -webkit-box-shadow: 2px 2px 1px 2px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    2px 2px 1px 2px #ccc;  /* Firefox 3.5 - 3.6 */
    box-shadow:         4px 4px 4px 0px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
    border: 1px solid #E1E3E4;
    border-radius: 3px;
}

.no-shadow {
    -webkit-box-shadow: none;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    none;  /* Firefox 3.5 - 3.6 */
    box-shadow:         none;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

.rating {
    color: #666;
    border-left: 4px solid #ccc;
    border-right: 0;
    border-bottom: 0;
    border-top: 0;
    background: #fff;
}

form {
    font-size: 0.9rem;
}



.tshadow-black {
    text-shadow:
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        2px 2px 0 #000;
}



.tshadow-gray {
    text-shadow:
        -0.5px -0.5px 0 #999,
        0.5px -0.5px 0 #999,
        -0.5px 0.5px 0 #999,
        0.5px 0.5px 0 #999;
}

.lh11 {
    line-height: 1.1
}

.lh13 {
    line-height: 1.3 
}

.lh2 {
    line-height: 2
}

.lh3 {
    line-height: 2.5
}

.bg-white {
    background-color: #FFFFFF
}

.bg-black {
    background-color: #000
}

.bg-red {
    background-color: #C71321
}

.bg-gray {
    background-color: #eee
}

.white {
    color: #FFFFFF
}

.gold {
    color: #f1ad00 /*#f5cf26 *//*#E1C5A3*/
}

.light-gray {
    color: #9d9d9d !important
}

.medium-gray {
    color: #CCC
}


.gray {
    color: #999
}

.dark-gray2 {
    color: #666
}

.dark-gray {
    color: #333
}

.black {
    color: #000
}

.red {
    color: #C71321;
}

.blue {
    color: #117bb8
}


header a:hover {
    color: #EFEFEF
}

.header-whitespace {
    margin-bottom: 4rem;
}

.align-center {
    text-align: center
}

.align-left {
    text-align: left
}

.align-right {
    text-align: right
}

.italic {
    font-style: italic
}

.expanded {
    letter-spacing: 1px
}

.expanded-2 {
    letter-spacing: 2px
}

.expanded-3 {
    letter-spacing: 3px
}

.word-spacing {
    word-spacing: 5px;
}

.condensed {
    letter-spacing: -1px
}

.light {
    font-weight: 300
}

.normal {
    font-weight: 400
}

.bold-500 {
    font-weight: 500
}

.bold-600 {
    font-weight: 600
}

.bold-700 {
    font-weight: 700
}

.bold-800 {
    font-weight: 800
}

.black-900 {
    font-weight: 900
}

.uppercase {
    text-transform: uppercase
}

.underline {
    text-decoration: underline
}

.no-underline {
    text-decoration: none
}

.lh1 {
    line-height: 1
}

.lh13 {
    line-height: 1.3
}


.minimal {
    font-size: .7rem
}

.smallest {
    font-size: .8rem
}

.small {
    font-size: .8rem
}

.medium {
    font-size: 0.9rem
}

.normal-size {
    font-size: 1rem
}

.big {
    font-size: 1.2rem
}

.large {
    font-size: 2rem
}

.huge {
    font-size: 3rem;
}

.normal-size {
    font-size: 1.0rem
}

.large {
    font-size: 1.7rem
}

.left {
    float: left
}

.right {
    float: right
}

.inline {
    display: inline
}

.block {
    display: block
}

table {
    font-family: 'Tinos', Georgia, 'Times New Roman', Times, serif;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    font-size: .75rem;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%
}

figcaption {
    font-family: 'Tinos', Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 1.5rem;
    font-size: .8rem;
    font-style: italic;
    margin-left: 1rem;
    margin-right: 1rem;
}

.normal-font {
    font-style: normal
}

caption {
    font-family: 'Tinos', Georgia, 'Times New Roman', Times, serif;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: .8rem;
    font-style: italic;
    color: #303030;
}

img {
    margin-top: 1.5rem;
    margin-bottom: .5rem;
    margin-left: 1rem;
    margin-right: 1rem;
    display: block;
    height: auto;
    width: -webkit-calc(100% - 2rem);
    width: -o-calc(100% - 2rem);
    width: -moz-calc(100% - 2rem);
    width: calc(100% - 2rem);
}

.medium-img {
    width: 50%;
}

.logo-img {
    width: 20%;
}


.small-img {
    width: 30px;
    height: auto;
}

.darkened {
    background: #777;
    background: rgba(0, 0, 0, 0.6);
    z-index: 999
}

iframe {
    display: block;
    width: 100%;
    margin-top: .5rem;
    margin-bottom: 2rem;
}


th,
td {
    border: 1px solid #E1E3E4;
    padding: 0.25rem 0.5rem
}

tr:nth-child(even) {
    background: rgba(225, 227, 228, 0.3)
}

.border-top {
    border-top: 1px solid #ccc
}

.border-shadow {
    -webkit-box-shadow: 1px 1px 2px 2px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    1px 1px 2px 2px #ccc;  /* Firefox 3.5 - 3.6 */
    box-shadow:         1px 1px 1px 1px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
    /*border: 1px solid #E1E3E4;*/
    border-radius: 3px;
}

.border-bottom {
    border-bottom: 1px solid #ccc
}

.border-bottom-black {
    border-bottom: 2px solid #ccc
}

.border-full {
    border: 1px solid #ccc
}

.border-full-black {
    border: 1px solid #000
}

.border-full-white {
    border: 1px solid #fff
}

.border-none {
    border: none
}

.tag {
    display: table;;
    background: #FFFFFA;
    border: 1px solid #CCC;
    padding: 0.25rem;
    border-radius: 5px;
}

.date {
    display: table;
    background: #777;
    background: rgba(0, 0, 0, 0.3);
    color: #EFEFEF;
    padding: 0 0.25rem;
    border-radius: 2px;
    stroke: #333
}

body,
html {
    font-size: 24px;
    font-family: 'Tinos', Georgia, 'Times New Roman', Times, serif;
    line-height: 1.7;
    margin: 0;
    padding: 0;
}

hr {
    border-style: dotted;
    border-color: rgb(215,215,215);
    margin: 0.5rem 0;
}

header a:focus, a:hover {
    color: #EFEFEF
}

header a:focus {
    text-decoration: none;
}

a {
    text-decoration: underline;
    color: #C71321;
    transition: color 0.3s ease-in
}
a:focus, a:hover {
    color: #80312E;
    text-decoration: none;
}

.white-link {
    color: #000 !important;
    text-decoration: underline;
}
.white-link a:active, .white-link a:focus {
    color: #ffe500 !important;
}

.no-visited:visited {
    color: #000
}

/*
a:visited {
    color: #80312E;
}*/

.unselectable {
    user-drag: none; 
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

::-moz-selection {
    color: #fff;
    background: #C71321
}
  
::selection {
    color: #fff;
    background: #C71321
}


article a:hover {
    text-decoration: none;
}

@media (max-width: 768px) {
    .title {
        font-size: 1.3rem;
    }
    #article {
        margin-top: 0px
    }

    .whitespace {
        margin-top: 2rem !important;
    }
}

@media (min-width: 768px) {
    .title {
        font-size: 1.3rem;
    }
}

@media (max-width: 500px) {
    .title {
        font-size: 1.2rem;
    }
}

@media (min-width: 1300px) {
    body, html {
        font-size: 24px;
    }
}

.btn:hover, .btn:active, .btn:focus {
    color: #000;
    background: #ffe500;
}

.btn:active, .btn:active {
    background: #ffe500;
    box-shadow: none;
}

.btn {
    -webkit-box-shadow: 2px 2px 4px 0px #333;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    2px 2px 4px 0px #333;  /* Firefox 3.5 - 3.6 */
    box-shadow:         2px 2px 4px 0px #333;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
    border: 0px solid #333;
    color: #000;
}

.btn-primary {
    color: #000;
    background: #f1ad00;
}

.logo {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0.25rem;
    width: 75px;
    height: 75px;
}

.logo-small {
    width: 36px;
    height: 36px;
}

.logo-text {
    line-height: 75px;
    font-size: 1.33333rem;
    color: #000;
}

.logo-text-small {
    padding-left: 0.25rem;
    line-height: 36px;
    font-size: 1rem;
    color: #333;
}

.container {
    padding: 0 1rem;
    margin: 0 1rem;
}

input {
    border-radius: 5px;
    min-width: 100%;
}

input {
    background-color: #f9f9f9;
    font-family: 'Tinos', Georgia, 'Times New Roman', Times, serif;
    font-size: 1rem;
    color: #000
}

input[type=text]:focus, input[type="email"]:focus, textarea:focus {
    background-color: #faffbd
}

textarea {
    font-family: 'Tinos', Georgia, 'Times New Roman', Times, serif;
    font-size: 1rem;
    border-width: 2px;
    border-style: solid;
    border-top-color: #999;
    border-left-color: #999;
    border-right-color: #ddd;
    border-bottom-color: #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    color: #000;
    min-width: 100%;
    min-height: 250px;
}

.profile-small {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    box-shadow: 0.5px 0.5px 0.5px 0px #ccc;
    width: 90px;
    display: block;
    border-radius: 50%;
    margin: auto;
}

.profile-small:hover {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}

.emoji {
    display: inline;
    margin-left: 0;
    margin-right: 0.25rem;
    margin-bottom: 0;
    margin-top: 0;
    width: 1rem;
    height: 1rem;
}


.post-date {
    margin-bottom: 2rem;
    color: #777
}

.post-title {
    margin-bottom: 0rem;
    font-size: 1.8rem;
    font-family: 'Alegreya Sans', Arial, Helvetica, sans-serif;
    line-height: 1.3;
}

.bg-article-1 {
    background: url(../images/articles/ujev_2018.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 360px;
    border-radius: 4px;
}

.bg-article-2 {
    background: url(../images/articles/banda_maravilha.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 180px;
    border-radius: 4px;
}

.bg-article-3 {
    background: url(../images/articles/lady_diana_es_lizete.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 180px;
    border-radius: 4px;
}

.grayscale {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.no-grayscale {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}


.icon {
    margin-top: 0;
    margin-right: 0;
    width: 36px;
    height: 36px;
    display: inline-block;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.icon:hover {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}

.pipa {
    list-style-image: url(/assets/images/pipa2.png);
}

.cover {
    width: 380px;
    height: 180px;
    border-radius: 3px;
}

.whitespace {
    margin-top: calc(2rem + 62.4px);
    margin-top: -webkit-calc(2rem + 62.4px);
}

.darken {
    filter: brightness(.8);
    -webkit-filter: brightness(.8);
    transition: color 0.3s ease-in
}

.darken:hover {
    filter: brightness(1);
    -webkit-filter: brightness(1);
}

.col-xs-12-right {
    width: 100%;
    float: none !important;
}


 .custom-form .ws-invalid label,
 .custom-form .ws-invalid h3 {
    color: #fff;
}
.custom-form .ws-invalid input {
    border-color: #fff;
}
.custom-form .ws-success input {
    border-color: #52b822;
}

.ws-errorbox {
    font-weight: 600;
    font-family: 'Alegreya Sans', Arial, Helvetica, sans-serif;
}

.ws-errorbox p {
    color: #f6a1a8;
    font-size: 0.8rem;
}


