<div class="post-content">
    <h1 class="post-title">Az összes cikkem</h1>
    <br />

    <% for (var i = site.postdata.length - 1, j = 0; i >= 0; i--) { %>    
    <div>
      <p class="archive"><a href="<%= pathsToPosts[j++] %>"><%= site.postdata[i].title %></a> (<span class="archive-date"><%= site.postdata[i].date %>)</span></p> 
    </div>
    <% } %>
    <br />

  </div>