<!-- CONTENT -->
<div class="post-content">
  <h1 class="post-title">Üdvözöllek a Kizombavilág (Kivi) portálon!</h1>

  <h2>Miről szól a Kizombavilág?</h2>
             
  <p>Mindenről, ami a kizomba tánccal és zenével kapcsolatos. A Kizombavilág információs portál összegyűjti és rendszerezi a kizombával kapcsolatos ismereteket, amelyek az interneten nagyon szétszórtan lelhetők fel.</p>
       
  <p>Az írások nagyobb része Ennuel Iverson <a href="https://www.youtube.com/channel/UCz28lt0TR_DaZLSPVwBVUaw">Kizomba Tips & Advices</a> és a <a href="https://www.youtube.com/user/kizombaharmony/feed">Kizomba Harmony</a> (Billy & Monika Kay) Youtube csatornáján található anyagok fordítása és átdolgozása. Ezen felül workshop videókat is teszek fel a honlapra.</p>
  
  <p>Ha szeretnél e-mailben értesülni az újabb írásokról, akkor <a href="<%= site.mailchimp %>">iratkozz fel a hírlevelemre</a>!</p>     
  
  <img class="cover" src="assets/images/ennuel_hakima.jpg" alt="Ennuel Iverson & Hakima Kim" title="Ennuel Iverson & Hakima Kim"/>

  <figcaption>Ennuel Iverson és Hakima Kim</figcaption>

</div>
