<main>
  <p class="dark-gray mb2"><%= site.description %></p>
  <h2 class="gray oleo big mb0 normal">A menü</h2>
  <table role="navigation" class="border-none" width="100%">
    <tr>
      <td class="align-center border-bottom">
        <a href="/esemenyek.html" class="align-left small-smallest uppercase bold no-underline pt1 pbhalf">
          <i class="fas fa-calendar-alt fa-3x fa-fw mlhalf prquarter"></i>
          <span class="align-left letter-spacing valign tshadow">Eseményajánló</span>
        </a>
      </td> 
    </tr>

    <tr>
      <td class="align-center border-bottom">
        <a href="/tancos-videok.html" class="align-left small-smallest uppercase bold no-underline pt1 pbhalf">
          <i class="fas fa-play-circle fa-3x fa-fw prquarter"></i>
          <span class="align-left letter-spacing valign tshadow">Táncos videók</span>
        </a>
      </td>
    </tr>

    <tr>
      <td class="align-center border-bottom">
        <a href="/zenek.html" class="small-smallest uppercase bold no-underline pt1 pbhalf">
          <i class="fas fa-music fa-3x fa-fw mrhalf"></i>
          <span class="align-left letter-spacing valign tshadow">Igényes zenék</span>
        </a>
      </td>
    </tr>

    <tr>
      <td class="align-center border-bottom">
        <a href="/oktato-videok.html" class="small-smallest uppercase bold no-underline pt1 pbhalf">
          <i class="fas fa-user-graduate fa-3x fa-fw mrhalf prquarter"></i>
          <span class="align-left letter-spacing valign tshadow">Oktató  videók</span>
        </a>
      </td>
    </tr>

    <tr>
      <td valign="middle" class="align-center border-none">
        <a href="/cikkek.html" class="small-smallest uppercase bold no-underline pt1 pbhalf">
          <i class="fas fa-edit fa-3x fa-fw mlhalf"></i>
          <span class="align-left letter-spacing valign tshadow">Hasznos cikkek<span>
        </a>
      </td>
    </tr>
  </table>
</main>