<!-- CONTENT -->
<div class="post-content">
  <h1 class="post-title">Üdvözöllek a Kizombavilág (Kivi) portálon!</h1>

  <h2>Miről szól a Kizombavilág?</h2>
  
  <p>FRISSÍTÉS (2018-05-19): A korábbi (urbankizes) cikkeket töröltem, mert nem hiteles információkon alapultak sajnos.</p>
  <p>Mindenről, ami a kizomba tánccal és zenével kapcsolatos. A Kizombavilág információs portál összegyűjti és rendszerezi a kizombával kapcsolatos ismereteket, amelyek az interneten nagyon szétszórtan lelhetők fel.</p>
  
  <p>Sajnos nehéz az interneten kiigazodni a kizomba terén a sok torz és hamis információ miatt. Az urbankiz már annyira eltávolodott a kizombától, hogy egy teljesen különálló táncnak kell tekintni, és nem a kizomba egyik stílusának. Sajnos az urbankiz-esek nem megbízható források a kizomba terén. Persze lehet, hogy mondanak jókat is (például Ennuel Iverson bemelegítő gyakorlatai és egyes tanácsai), de nem ismerik az angolai kultúrát, sem a táncokat és a zenéket. <b>Angola az egyetlen hiteles forrás.</b></p>

  <p>Korábban főleg urbankiz-es forrásokból és videókból (Ennuel Iverson és Billy & Monika Kay) fordítottam és állítottam össze a cikkeimet. Ez a gyakorlat most megszűnik, de a korábbi cikkeket meghagyom, valamint a félreértések elkerülése érdekében a címek után zárójelben feltüntetem, hogy az urbankiz témakörhöz tartoznak. Ahol szükségét érzem, megjegyzéseket teszek vagy átírok részeket. A kizomba tánc és zene eredete cikket például teljesen át fogom írni.</p>

  <p>Mostantól kezdve kizárólag a kizombával fogok foglalkozni a honlapon. Ezeket az angol nyelvű forrásokat ajánlották nekem: <b>University of Kizomba</b> (ez egy luandai non-profit szervezet az angolai kultúra és a kizomba népszerűsítésére) és <b>Eddy Vents</b> (kizomba táncos, Bissau-Guineai származású, de Lisszabonban nőtt fel, 2014-ben az Év Kizomba Tanárának választották Európában). A facebook bejegyzéseikből fogok a továbbiakban cikkeket összeállítani. A linkek:
    <a href="https://www.facebook.com/University.of.Kizomba/">University of Kizomba</a> és <a href="https://www.facebook.com/eddy.vents/">Eddy Vents</a>.
  </p>

  <p>Ezzel lezárult egy fejezet a Kizombavilág Információs Portál életében és kezdetét veszi egy újabb.</p>

  <p>Ui. 1: A <a href="https://www.facebook.com/BudapestKizombaConnection/">Budapest Kizomba Connection (BKC)</a> szervezője, Hamvas Nikolett vette fel velem a kapcsolatot (miután megosztottam a BKC egyik videóját), és ajánlotta a fent említett két forrást és segített tisztábban látni a kizomba tájékán. Köszönöm a segítséget.</p>

  <p>Ui. 2: Persze aki urbankiz-ezni akar, az nyugodtan csinálja azt, csak ne nevezze az urbankiz-t kizombának.</p>

  <p>Ha szeretnél e-mailben értesülni az újabb írásokról, akkor <a href="<%= site.mailchimp %>">iratkozz fel a hírlevelemre</a>!</p>     
  
  <img class="cover" src="assets/images/luanda.jpg" alt="Luanda, Angola fővárosa. Pálmafás sétány." title="Luanda, Angola fővárosa. Pálmafás sétány."/>

  <figcaption>Luanda, Angola fővárosa. Pálmafás sétány.</figcaption>

  <img class="cover" src="assets/images/dancers.jpg" alt="Kizomba táncosok Luandában." title="Kizomba táncosok Luandában."/>

  <figcaption>Kizomba táncosok Luandában.</figcaption>

</div>
