<div class="align-center mx-auto" style="max-width: 560px;">
  <h1 class="align-left mb2">Oktató videók</h1>
    
  <figcaption class="medium dark-gray bold-800 align-center mb0 align-left">Dr. Kizomba Live!<sup class="small-smallest">TM</sup></figcaption>
  <iframe class="center-align mx-auto mthalf mb3 shadow2" width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PLFH6j6vN9B8NhgQWpGWy_dW5OXA-ZHRLl" frameborder="0" allow="encrypted-media" allowfullscreen></iframe>
    
  <h2 class="align-left">Az oktatókról</h2>
    
  <div>
    <img class="mthalf profile left unselectable" alt="Manuel Dos Santos és Flavie Merise" title="Manuel Dos Santos és Flavie Merise" src="assets/images/drkizomba2.jpg">
    <p class="align-left">Manuel Dos Santos (<a href="https://www.facebook.com/mds.drkizomba/">Dr. Kizomba</a>) angolai állampolgár, viszont Kanadában tartózkodik állandó jelleggel. Flavie Merise Haitiben született. 2010-ben megalapították a <a href="http://www.kizombacanada.ca/">Kizomba Canada</a> tánciskolát Montréalban. Minden héten szerdán egy ingyenes, online (élő) kizomba órát tartanak, ami mindig felkerül a <a href="https://www.youtube.com/channel/UCDoLbtK2LozvcDqUpwxLoAA">Youtube csatornájukra</a>.</p>
    <p class="align-left">Manuel & Flavie a 2014-es AfricAdancar nemzetközi kizomba bajnokságon improvizáció kategóriában 1. helyezettek lettek, míg összesítve a 4. helyet csípték el.</p>
  </div>
</div>