<div class="container mb2">
  <h1 class="align-left mb2">Táncosok</h1>
  <div class="row">
    <div class="col-xs-12 col-sm-6 mb3">
      <figcaption class="medium gray bold-800 align-center mb0 align-left">Kizomba az utcán</figcaption>
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="center-align mx-auto mthalf mb3 shadow2" src="https://www.youtube.com/embed/videoseries?list=PLFH6j6vN9B8Ps0EsOdQlprVa1p9UfjdaM" allow="encrypted-media" allowfullscreen></iframe>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6 mb2">
      <figcaption class="medium gray bold-800 align-center mb0 align-left">Angola Show</figcaption>
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="center-align mx-auto mthalf mb3 shadow2" src="https://www.youtube.com/embed/videoseries?list=PLFH6j6vN9B8PuGkJgBz2KFD4PE-6XpR1H" allow="encrypted-media" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>