<div class="align-center mx-auto" style="max-width: 560px;">
  <h1 class="align-left mb2">Táncos videók</h1>
  
  <figcaption class="medium dark-gray bold-800 align-center mb0 align-left">Kizomba az utcán</figcaption>
  <iframe class="center-align mx-auto mthalf mb3 shadow2" width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PLFH6j6vN9B8Ps0EsOdQlprVa1p9UfjdaM" frameborder="0" allow="encrypted-media" allowfullscreen></iframe>

  <figcaption class="medium dark-gray bold-800 align-center mb0 align-left">Angola Show</figcaption>
  <iframe class="center-align mx-auto mthalf shadow2" width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PLFH6j6vN9B8PuGkJgBz2KFD4PE-6XpR1H" frameborder="0" allow="encrypted-media" allowfullscreen></iframe>
</div>