<div class="container mb2">
  <h1 class="align-left mb2">Zenék</h1>
  <div class="row">
    <div class="col-xs-12 col-sm-6 mb3">
      <figcaption class="medium gray bold-800 align-center mb0 align-left">Kizomba Kedd</figcaption>
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="center-align mx-auto mthalf mb3 shadow2" src="https://www.youtube.com/embed/videoseries?list=PLFH6j6vN9B8Nd3PyV0g8y4XZkB-Ysh3ck" allow="encrypted-media" allowfullscreen></iframe>
      </div>
    </div>
  
    <div class="col-xs-12 col-sm-6 mb2">
      <figcaption class="medium gray bold-800 align-center mb0 align-left">Semba Szerda</figcaption>
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="center-align mx-auto mthalf mb3 shadow2" src="https://www.youtube.com/embed/videoseries?list=PLFH6j6vN9B8MUqPolP_1ER-O9EDdlCR9z" allow="encrypted-media" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>
