<div class="about border-bottom-gray">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 clearfix">
        <p class="white mt2 mb1 bold tshadow-black pull-left">Merülj el a kizomba világában, mert a kizomba sokkal több egy táncnál!
        </p>
        <a class="pull-right mb1 mr1 btn btn-large btn-danger smallest uppercase" href="https://www.facebook.com/<%= site.facebook %>"><i class="fab fa-facebook fa-sm prquarter"></i>Facebook oldal</a>
      </div>
      <div class="col-sm-6 bg-black">
        <blockquote class="mt1 small bg-black">
          <p class="white plhalf tshadow-black">&ldquo;Végre egy magyar kizomba oldal, ami hiteles információkat oszt meg, és alaposan utána is néz a dolgoknak… :) Bravo, így tovább!&rdquo;
            <br>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
          </p>
          <small class="lightest-gray plhalf">Hamvas Nikolett, <cite title="source title">Budapest Kizomba Connection (BKC)</cite></small>
        </blockquote>
      </div>
    </div>
  </div>
</div>