<div class="mb4 mt3 mx-auto align-center">
  <nav class="nav navbar-nav francois-one no-float">
    <div class="row">
      <div class="col-sm-4">
        <div class="mb1">
          <a href="/" class="smallest dark-gray mb1 mr1">
            <span class="glyphicon glyphicon-calendar prquarter"></span>Események
          </a>
        </div>
        
        <div class="mb1">
          <a href="/tancos-videok.html" class="smallest dark-gray mb1 mr1">
            <span class="glyphicon glyphicon-film prquarter"></span>Táncosok
          </a>
        </div>
      </div>

      <div class="col-sm-4 mb1">
        <div class="mb1">
          <a href="/zenek.html" class="smallest dark-gray mb1 mr1">
            <span class="glyphicon glyphicon-music prquarter"></span>Zenék
          </a>
        </div>
              
        <div class="mb1">
          <a href="/oktato-videok.html" class="smallest dark-gray mb1 mr1">
            <span class="glyphicon glyphicon-calendar prquarter"></span>Oktatás
          </a>
        </div>
      </div>

      <div class="col-sm-4 mb1">
        <div class="mb1">
          <a href="/cikkek.html" class="smallest dark-gray mb1 mr1">
            <span class="glyphicon glyphicon-list-alt prquarter"></span>Cikkek
          </a>
        </div>
      </div>
    </div>
  </nav>
</div>