<header id="#top" class="height-180">
  <div class="inline clearfix">
    <img class="ml1 mrhalf logo left unselectable" src="/assets/images/aolarge_logo.gif">
    <div class="left">
      <h1 class="bigger white title align-left">Kizombavilág</h1>
      <p class="light white smallest"><i><%= site.slogan %></i></p>
    </div>

    <nav class="desktop-menu right mr1 mthalf txt-shadow">
      <a href="/" class="align-left small-smallest bold white uppercase no-underline pt1 pbhalf mrhalf">
        <span class="align-left">Kezdőlap</span>
      </a>
  
      <a href="/tancos-videok.html" class="align-left small-smallest bold white uppercase no-underline pt1 pbhalf mrhalf">
        <span class="align-left">Táncos videók</span>
      </a>
  
      <a href="/zenek.html" class="small-smallest bold white uppercase no-underline pt1 pbhalf mrhalf">
        <span class="align-left">Igényes zenék</span>
      </a>
  
      <a href="/oktato-videok.html" class="small-smallest bold white uppercase no-underline pt1 pbhalf mrhalf">
        <span class="align-left">Oktató  videók</span>
      </a>
        
      <a href="/cikkek.html" class="small-smallest bold white uppercase no-underline pt1 pbhalf mrhalf">
        <span class="align-left">Hasznos cikkek<span>
      </a>
    </nav>
  </div>
</header>