<div class="">
  <div class="row">
    <div class="col-xs-4 current">
      <a class="uppercase" href="/index.html">Cikkek</a>
    </div>
    <div class="col-xs-4 dark-blue">
      <a class="uppercase" href="/about.html">Magamról</a>
    </div>
    <div class="col-xs-4 dark-blue">
      <a class="uppercase" href="/book.html">Könyvem</a>
    </div>
  </div>
</div>