<table role="navigation" class="border-none mt2" width="100%">
  <tr>
    <td class="align-center border-bottom">
      <a href="/" class="align-left small-smallest uppercase no-underline pt1 pbhalf">
        <i class="fas fa-home fa-2x fa-fw "></i>
        <span class="plhalf align-left letter-spacing valign tshadow" style="margin-right: 0.8rem;">Kezdőoldal</span>
      </a>
    </td> 
  </tr>

  <tr>
    <td class="align-center border-bottom">
      <a href="/esemenyek.html" class="align-left small-smallest uppercase no-underline pt1 pbhalf">
        <i class="fas fa-calendar-alt fa-2x fa-fw mlhalf prhalf"></i>
        <span class="align-left letter-spacing valign tshadow">Eseményajánló</span>
      </a>
    </td> 
  </tr>

  <tr>
    <td class="align-center border-bottom">
      <a href="/tancos-videok.html" class="align-left small-smallest uppercase no-underline pt1 pbhalf">
        <i class="fas fa-play-circle fa-2x fa-fw prhalf"></i>
        <span class="align-left letter-spacing valign tshadow">Táncos videók</span>
      </a>
    </td>
  </tr>

  <tr>
    <td class="align-center border-bottom">
      <a href="/zenek.html" class="small-smallest uppercase no-underline pt1 pbhalf">
        <i class="fas fa-music fa-2x fa-fw prhalf" style="margin-left: 0.2rem;"></i>
        <span class="align-left letter-spacing valign tshadow mrhalf">Igényes zenék</span>
      </a>
    </td>
  </tr>

  <tr>
    <td class="align-center border-bottom">
      <a href="/oktato-videok.html" class="small-smallest uppercase no-underline pt1 pbhalf">
        <i class="fas fa-user-graduate fa-2x fa-fw prhalf"></i>
        <span class="align-left letter-spacing valign tshadow mrhalf">Oktató videók</span>
      </a>
    </td>
  </tr>

  <tr>
    <td valign="middle" class="align-center border-none">
      <a href="/cikkek.html" class="small-smallest uppercase no-underline pt1 pbhalf">
        <i class="fas fa-edit fa-2x fa-fw prquarter" style="margin-left: 0.3rem;"></i>
        <span class="align-left letter-spacing valign tshadow">Hasznos cikkek<span>
      </a>
    </td>
  </tr>
</table>
