<h1 class="post-title-size">Massemba, a semba őse</h1>
<p class="smallest pt0 mt0 mb2">2018. június 9.</p>

<p>Egy elismert angolai történész, Prof. Jomo Fortunato szerint a semba szó legkorábbi írásos említései Alfredo de Sarmento 1880-ban megjelent könyvében, illetve Alfredo Tuni 1882-ben megjelent regényében találhatók meg, ami elsőként folytatásos regényként jelent meg egy újságban.
</p>

<p>A massemba szó a semba többes számú alakja. A massemba egy a luandai régióból származó népszerű „hastánc”, amit több táncos pár hajt végre egyszerre. Zenei stílus is egyben. Amikor a massembát elkezdték a tánctermekben játszani, ahol harmonikával és concertinóval kísérték, a portugálok „rebita” néven hivatkoztak rá.
</p>

<p>„A batuque egy táncosok által formált körből áll, ahol egy ember bemegy a kör közepére és végrehajt néhány lépést, majd egy általa választott személynek egy has-összeütést (belly-bump) ad, aki utána leváltja őt a kör közepén.” (Alfredo de Sarmento)
</p>

<figcaption>Massemba a Dilson Rosario vezényelte „Kotas que Bailam” („Táncoló Öregek”) formáció előadásában, Luandában. Dilson a piros kalapos férfi.
</figcaption>

<figcaption>Egy másik massemba koreográfia. Nincs róla bővebb információm.
</figcaption>

<p>A massemba és a kazukuta (gitár) ritmusok keverése egyfajta felgyorsított massembát eredményezett, amiből a semba zene később kialakult. Mindkét zenei stílusra hoztam egy-egy példát.
</p>


<p>Népszerű massemba (rebita) szám:</p>
<figcaption>Banda Maravilha - Rebita
</figcaption>


<p>Ez pedig egy kazukuta szám:</p>
<figcaption>Os bongos - Kazukuta
</figcaption>


<p>Összehasonlításként hallgassunk meg néhány semba számot Bongától, Angola egyik „nemzeti kincsétől”. A hasonlóság a massemba és a kazukuta elemeivel könnyedén felfedezhető bennük.
</p>


<p>Ez még rebita
</p>
<figcaption>Bonga - Rebita
</figcaption>

<p>Ugyanez felgyorsítva. Ez már semba:</p>
<figcaption>Bonga - Kabolobo</figcaption>


Bonga - Galinha Kassafa


<iframe class="center-align mx-auto mthalf shadow2" width="560" height="315" src="https://www.youtube.com/embed/cKrv6-gHCcA?rel=0" frameborder="0" allow="encrypted-media" allowfullscreen></iframe>
<figcaption>A Tukina csapat Angolában</figcaption>

<h2 class="medium">Felhasznált források</h2>
<ul>
  <li><a href="https://www.facebook.com/events/226053237977336/permalink/226997537882906/">Budapest Kizomba Connection - BKC (2018)</a>.</li>
</ul>