<h2>Tanácsok a hölgyek részére</h2>
  <ol>
    <li><bold>Csukd be a szemedet</bold> a tánc alatt! Segít összpontosítani a férfi mellkasának mozgására.</li>
    <li>A táncpartnered <bold>két különböző egyensúllyal</bold> táncolhat. Az egyik esetben először felfele, majd lefele, míg a másik esetben először lefele, majd felfele mozdul a mellkas. Nem lesz kényelmes, ha fordítva csináljátok, mert a férfi jobban fog szorítani, mert keresi az egyensúlyát, így a vezetése is erősebb lesz. Fontos, hogy jól megérezzétek az egyensúlyt köztetek.</li>
    <li><bold>Figyelj a helyes tartásra!</bold> A vállakat húzd vissza, mint a salsánál, a fejedet meg tartsd egyenesen (ne döntsd a partner vállára), találd meg az egyensúlyodat, helyezkedj!</li>
    <li><bold>Ne húzódj el a férfitól</bold>, vagy ne akard eltolni őt magadtól, ha össze akar dőlni veled!</li>
    <li><bold>A kizomba nem arról szól, hogyan nézel ki, hanem hogyan érzed magad.</bold> A „lady styling” pedig éppen arról szól, hogy hogyan nézzél ki jobban a tánc közben a különböző díszítő mozdulatokkal. Ha nem érzed sajátodnak ezeket a mozdulatokat, akkor kár görcsösen erőltetned ezeket, ugyanis nem ettől leszel jobb a táncban. Azon képességek elsajátítása messze fontosabb, amelyek javítják a kötődést a partnereddel. Nem számít, hogy hogyan mozgatod a fenekedet, hiszen tánc közben a partnered ezt úgysem látja.</li>
  </ol>

  <h2>Tanácsok az urak részére</h2>
    <ol start="6">
      <li>Amikor egyedül gyakorolsz otthon, akkor érdemes <bold>fejhallgatóval</bold> (vezetékessel vagy a nélkülivel) hallgatnod a zenét. A fejhallgató kiszűri a külső zajokat és ezáltal közvetlenebb kapcsolatba kerülsz a zenével, szinte egyesülsz vele.</li>
      <li><bold>Mindig térj vissza az alapokhoz!</bold> Dolgozz rajtuk! Nem csak a lépések helyes végrehajtása az alapok része, hanem az is beletartozik, hogy hogyan mozogsz, és hogyan értelmezed a zenét.</li>
      <li><bold>Gyakorolj rengeteg nővel</bold>, lehetőség szerint mindenkit kérj fel! Minden nővel más a tánc (másképpen reagálnak a vezetésre), és a partnerek egymásra is hatással vannak. Mindegyik partnertől tanulhatsz valamit és tapasztalatokat szerzel.</li>
      <li><bold>Tanulj meg szembázni</bold>, mert jobb lesz tőle a kizombád! A szemba az összes kizomba stílus gyökere. Sőt, a kizomba valójában nem is egy új tánc, hanem szemba egyfajta interpretációja. A különbség csupán annyi, hogy másfajta zenére táncoljuk a kettőt. A kizomba alaplépések egy az egyben szemba lépések. Talán egy kicsit kivételt képez a Nyugat-Európában (Franciaországban különösen) népszerű urban kiz stílus, ami eléggé eltávolodott az eredeti, angolai gyökerektől. A szemba nagyon játékos és komikus tánc. Ezt a fajta játékosságot ültesd át a kizombába! Ha nincsen szemba oktató, akkor tanulj a Youtube-ról! Nincsen partnered? Gyakorolj egyedül! Nincsen szemba buli? Gyakorolj egyedül!</li>
      <li><bold>Bónusz:</bold> néhány jó kizomba és szemba táncos, akiket érdemes másolni:
        <ul>
          <li><a href="https://www.youtube.com/watch?v=RoFQ3T34eH0">Ennuel Iverson & Hakima Kim</a> (Kizomba 2.0, urban kiz/szemba keverék, Franciaország)</li>
          <li><a href="https://www.youtube.com/watch?v=Io2ZVyZKg3I">Frans & Sarah</a> (Kizombalove, kizomba/szemba, Belgium)</li>
          <li><a href="https://www.youtube.com/watch?v=eiX3Dzu6DI8">Maria & Arnold</a> (Tudokizomba Hamburg, kizomba/szemba, Németország)</li>
          <li><a href="https://www.youtube.com/watch?v=yDMtI8aGsz8">Billy & Monica Kay</a> (Kizomba Harmony, kizomba/szemba, USA)</li>
          <li><a href="https://www.youtube.com/watch?v=UGwGwfTgOz4">Laura & Alberto Celmo</a> (szemba, Alberto Celmo: angolai, Laura: izraeli)</li>
          <li><a href="https://www.youtube.com/watch?v=C9do_gOL9dU">Albir Rojas</a> (urban kiz, Franciaország)</li>
          <li><a href="https://www.youtube.com/watch?v=vkCaUBHIt7Y">Isabelle & Felicien</a> (urban kiz, Franciaország)</li>
          <li><a href="https://www.youtube.com/watch?v=t6RN1M4aGhM">Moun & Marta</a> (urban kiz, Franciaország)</li>
        </ul>
      </li>
    </ol>

    <h3>Felhasznált források</h3>
    <ul class="literature">
      <li><a href="https://www.youtube.com/watch?v=M_o9OQvoGZY">Ennuel Iverson: THE CREATIVITY - Kizomba Tips & Advice</a></li>
      <li><a href="https://www.youtube.com/watch?v=hxIv_e9Twmg">Ennuel Iverson: Kizomba Tips & Advice -For Ladys - How to evolve your dance with heels ?</a></li>
      <li><a href="https://www.youtube.com/watch?v=lF1NMvwpGn4">Ennuel Iverson (interjú Billy & Monika Kay-jel): The importance of Kizomba Fondation With Billy & Monika - KLS #3</a></li>
      <li><a href="https://www.youtube.com/watch?v=8y5cfJbmaW4">Ennuel Iverson: Between You & The Music ! Kizomba Tips & Advices</a></li>
      <li><a href="https://www.youtube.com/watch?v=toDAzL7OqzY">Ennuel Iverson: Kizomba 2.0 Tips / How to gain confidence in your Semba,Kizomba dance</a></li>
    </ul>