<h2>Hogyan fejlesztheted a zeneiségedet a táncparketten?</h2>

<p>A zeneiség tulajdonképpen a táncolásról szól, vagyis mozdulatokat hajtunk végre a zenére.</p>
<p>A zenében sok mindent hallasz: az ütemet, a dallamot, az éneklést, és az egyes hangszereket is külön. Mondhatjuk úgy is, hogy <bold>sok különböző „rétegből”</bold> épül fel a zene. Próbálj meg ezekre a rétegekre külön táncolni, méghozzá a lehető legegyszerűbben!</p>
<p>Amikor odamész a tánctérre, először hangolódj a zenére (sőt érdemes már otthon, a bulira készülődéskor hangolódni). Kezdd el a fejedet mozgatni: először az ütemre, majd a dallamra, az éneklésre, valamint az egyes hangszerekre külön. Ha a <bold>szelektív hallást</bold> már magabiztosan elsajátítottad, akkor kezdheted a táncot az alaplépésekkel. És annak megfelelően fogod próbálni csinálni a mozdulatokat, amit hallasz, amelyik rétegre éppen figyelsz a zenében. Miután az alaplépések már mennek, akkor elkezdheted a saját különleges lépéseidet is beletenni.</p>

<h2>Hogyan vegyél fel egy jó testtartást, hogy magabiztos légy/biztonságban érezd magad?</h2>

<p>A testtartás mindennél fontosabb: bele se kezdj semmibe, amíg ez nincsen meg! Három fontos tudnivaló a testtartással kapcsolatban:</p>

<ol>
  <li><bold>Legyen kényelmes</bold> a pozíció! Mindenkinek más testi paraméterei vannak, így meg kell találnod azt a pózt, ami számodra kényelmes. De ez még nem elegendő. A partnerednek is kényelmesnek kell lennie a testtartásodnak. Természetesen mindig lesznek olyan partnerek, akikkel kényelmetlen lesz a kizomba.</li>
  <li>A testtartásod fogja <bold>meghatározni a kizomba stílusodat!</bold> Döntsd el, hogy melyik stílus tetszik neked! Figyeld meg azok testtartását, akik ezt a stílust művelik. Próbáld meg ezt a testtartást felvenni, a számodra lehető legkényelmesebb módon!</li>
  <li>A testtartás <bold>az alapok közé tartozik.</bold> Ha rossz a tartásod, akkor az összes mozdulat, amit végre akarsz hajtani, kudarc lehet vagy legalábbis nagyon kínlódni fogsz velük, és a partnered is, főleg, ha letaposod a lábát.</li>
</ol>

<p>A testtartás ugyanúgy be kell, hogy rögzüljön, mint ahogy gyerekként megtanultál kerékpározni. Amikor sétálsz az utcán, akkor sétálsz az utcán, amikor salsázol, akkor salsázol, amikor kizombázol, akkor kizombázol. Be kell tudnod lépni a <bold>kizomba üzemmódba.</bold> Olyan ez, mintha egy kapcsoló lennél: egy gombnyomásra kell megváltoztatnod a testtartásodat.</p>

<h2>A jó vezetés: Légy olyan, mint a víz!</h2>

<p>Rendszeresen <bold>gyakorolnod kell egyedül!</bold> Táncolj egyedül, majd partnerrel, majd megint egymagadban, majd újra partnerrel és így tovább. Végig <strong>keretben</strong> táncolj (vagyis úgy, mintha tartásban lennél, alkoss a jobb kezed és mellkasod közt egy nagy teret) és <bold>rendesen zárd össze a lábadat</bold>, hogy legyen határozott és egyértelmű a lépésed!</p>
<p>Két fajta zenére táncolj:</p>

<ul>
  <li>Az egyik <bold>lassú és lágy</bold> zene (<a href="https://soundcloud.com/dj-chad-kizomba-tarraxa-semba/dj-chad-what-is-love-kizomba-remix-2016">Dj Chad - What Is Love (Haddaway Cover)</a>, <a href="https://www.youtube.com/watch?v=n__ildwE1Kk">P. Lowe ft. Shaudeh Price - Unthinkable</a>): lágy, könnyed és „folyósabb” mozdulatokkal dolgozol;</li>
  <li>A másik <bold>keményebb, dinamikusabb vagy törtebb</bold> zene (például <a href="https://www.youtube.com/watch?v=EqGB3WTFRvU">Rihanna x Drake - Work (Shinna's Way)</a>, <a href="https://www.youtube.com/watch?v=t6RN1M4aGhM">Angosoundz - Down With You</a>): nagyobb erőt, intenzitást raksz a mozdulataid mögé a hangsúlyos pillanatokban.</li>
</ul>

<p>Légy olyan, mint a víz! Tökéletes <bold>egyensúlyban</bold> a lágy és a hangsúlyosabb vezetés között. Ahhoz, hogy <strong>flexibilis</strong> legyél, nyújtsd a testedet! Csak akkor lehetsz olyan, mint a víz, ha ellazult vagy. Nem lehet fölös feszültség az izmaidban. Amikor hazaérsz a buliból, akkor mindig nyújts le!</p>
<p>FRISSÍTÉS: Készítettem két lejátszási listát: az egyiken <a href="https://www.youtube.com/watch?v=HvCxZCn87sk&index=2&list=LL9HuNmL3okbisZU6sfRQDoA">lassú és lágy</a>, míg a másikon <a href=\"https://www.youtube.com/watch?v=RA4dFXDuKwM&list=PLFH6j6vN9B8MO_BxL_CQUHUYnjjwfpW8q">kemény és törtebb</a> gyakorlószámokat válogattam össze.</p>

<h3>Felhasznált források</h3>

<ul class="literature">
  <li><a href="https://www.youtube.com/watch?v=thzcaPwLaSc">Laurent Yishu interjú Ennuel Iverson csatornáján: How To Improve Your Musicality & Your Posture KLS #1- Kizomba Tips & Advices</a></li>
  <li><a href="https://www.youtube.com/watch?v=LuLmNXZVUKg">Ennuel Iverson: How To Get a Good Leading ? KLS#2- Kizomba Tips & Advices</a></li>
  <li><a href="https://www.youtube.com/watch?v=UvkP_-8J3nM">Ennuel Iverson: You Are Water ! Kizomba Tips & Advices</a></li>
</ul>