<h2>A kizomba tánc kialakulása</h2>                            
  <p>A kizomba tánc a közép-afrikai <bold>Angolá</bold>ból származik. Őse a hagyományos angolai néptánc, a <bold>szemba</bold>. A kizomba tehát nem latin tánc, ahogy több helyen olvasható tévesen. „Afrikai tangónak” (Sic!) is csúfolják.</p>
  <p>Az 1980-as években a szemba táncot a karibi térségből származó <strong>zouk</strong> zenével elegyített szemba zenére kezdték el táncolni. Ebben nagy szerepe volt a guadeloupe-i <strong>Kassav’ zenekar</strong>nak, ami megismertette az angolaiakkal a zouk zenei stílust (<a href=\"https://www.youtube.com/watch?v=oRQJyQrpVQs\">Kassav' - Mwen Malad Aw</a>). Utána az angolai zenészek is rákaptak az új stílusra (<a href=\"https://www.youtube.com/watch?v=YYNSFfy2K7Q\">Eduardo Paim - Esse Madie</a>) és elegyítették azt a szemba zenével. Többnyire portugálul énekelnek bennük (Angola portugál gyarmat volt 1975-ig).</p>
  <p>A kizomba nem egy teljesen új tánc új szabályokkal, hanem csupán szemba zoukkal keveredett szemba zenére táncolva. Mivel a zene szenzuálisabb és romantikusabb, az attitűd és a dinamika kicsit más a szemba tánchoz viszonyítva. Gyakorlatilag azt mondhatjuk, hogy a kizomba tánc „nem létezik”, mert a kizomba az valójában szemba interpretációja más, nem szemba zenére. Ez egy összehasonlítással könnyedén bebizonyítható: az 1. videó a szemba táncot, míg a 2. videó a kizombát mutatja be autentikusan, angolai módon. Az alaplépések (1-es, 2-es alap, 3 alap, valamint a Koreidinha (ejtsd koridinnyó; lehet, hogy más néven ismered), ami nem más, mint egy szűk kör megtétele sátával 8 ütemre) és az alapfigurák (Men Saida és Lady Saida) teljesen azonosak.</p>
  
  <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/HWBqNK9SXEw?rel=0" frameborder="0" allow="encrypted-media" allowfullscreen></iframe>
  <figcaption>1. videó: Autentikus szemba tánc vidéken</figcaption>
  
  <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/fqFqCMI5HLE?rel=0" frameborder="0" allow="encrypted-media" allowfullscreen></iframe>
  <figcaption>2. videó: Modern kizomba (passada) tánc Luandában, Angola fővárosában</figcaption>
  
  <p>Később <strong>Európá</strong>ba is eljutott ez a tánc, de már kizomba néven. Az európaiak főleg ghetto zouk (például Nelson Freitas vagy Kaysha) és tarraxinha zenére kezdték el táncolni a kizombát. Mivel a zene eltérő volt, így aztán a kizombát is másképp kezdték el táncolni.</p>
  <p>A kizomba szó a Kimbudu angolai nyelvből származik, jelentése buli, kikapcsolódás, ünnep. Egyébként a zouk jelentése franciául is ünnep. Számos különböző stílus létezik kizomba táncon belül, például:</p>      
  
  <ul>
    <li><a href="https://www.youtube.com/watch?v=fqFqCMI5HLE">passada/autentikus kizomba</a></li>
    <li><a href="https://www.youtube.com/watch?v=aHbjn_JQLa0">tarraxinha</a></li>
    <li>quadradinha (ez teljesen ismeretlen számomra)</li>
    <li><a href="https://www.youtube.com/watch?v=49U4ryrP8ck">urban kiz (régebben francia stílusnak hívták)</a></li>
  </ul>

  <h2>A kizomba zene kialakulása (ez átdolgozásra vár!)</h2>
  <p>A kizomba zenének négy tartóoszlopa van. Ezek:</p>
  
  <ul>
    <li><bold>szemba</bold> (zene és tánc is egyben, származás: Angola),</li>
    <li><bold>coladeira</bold> (zene és tánc is egyben, származás: Cabo Verde),</li>
    <li><bold>zouk</bold> (csak zenei stílus, származás: Guadalupe és Martinique),</li>
    <li><bold>kompa</bold> (zene és tánc is egyben, származás: Haiti).</li>
  </ul>
  
  <img class="normal" src="./../../../assets/images/kizomba_ernyo-min.jpg" alt="A Kizomba „ernyő”"/>
  <figcaption>1. ábra: A Kizomba Ernyő</figcaption>
  
  <p>Ezek a zenei stílusok léteztek már a kizomba előtt. Ezeknek a keverékéből jött létre a <strong>kizomba zene</strong>. Attól függően, hogyan keveredtek, különböző stílusok jöttek létre a kizomba zenén belül. Ezek a stílusok egymástól földrajzilag távol eső helyeken: a Francia-Antillákon (Guadalope, Martinique, Haiti), Közép-Afrikában (Angola, Mozambik) és a Zöld-foki Köztársaságban (Cabo Verde) alakultak ki. Például Cabo Verde-ben, mivel nem ismerték a szembát, a kompa és a colideira keveredett a zouk-kal, és így jött létre ott a kizomba zene. Angolában viszont a szemba zenét ötvözték a zouk zenével. Ha nagyon szigorúak akarunk lenni, akkor csak ez utóbbi nevezhető kizomba zenének.</p>
  
  <img class="normal" src="./../../../assets/images/kizomba_terkep.jpeg" alt="Térkép: A kizomba zene ezekből az országokból származik"/>
  <figcaption>2. ábra: A kizomba ZENE földrajza</figcaption>
  
  <p>A kizomba „ernyő” foglalja össze a különböző zenei stílusokat, amelyek e keveredés során alakultak ki. Kékkel jelöltem a hagyományos stílusokat (a 4 alappillért) és pirossal a modern kizomba zenét. Néhány mintaszám:</p>
  
  <ol>
    <li><bold>szemba:</bold> <a href="https://www.youtube.com/watch?v=BmEtVTOqvTY">Don Kikas - Sexta Feira</a></li>
    <li><bold>kizomba:</bold> <a href="https://www.youtube.com/watch?v=JyY75HWGgHI">Konde Martins - Negra</a></li>
    <li><bold>ghetto zouk:</bold> <a href=\"https://www.youtube.com/watch?v=ealTdaqt8bU\">Nelson Freitas &amp; C4 Pedro - Bo Tem Mel</a></li>
    <li><bold>tarraxinha:</bold> <a href=\"https://www.youtube.com/watch?v=q3IAO5suyb8\">Yudi Fox ft. Nelo - So Quero Tarrachar</a></li>
  </ol>

  <h3>Felhasznált források</h3>
  
  <ul class="literature">
    <li>AfroLatino Dance Company (2015). <a href="http://afrolatinodance.com/2015/08/12/kizomba-as-musical-genre">Kizomba as a Musical Genre.</a></li>
    <li>Dainis Graveris (2015). <a href="http://www.onkizomba.com/what-is-kizomba">What is Kizomba?: History About The Sensual Social Dance From Angola.</a> On Kizomba.</li>
    <li>Hélio Santos (2017). <a href="https://www.youtube.com/watch?v=CmMM-tzbjxc&amp;t=48s">Kizomba - Djs &amp; Organizers.</a></li>
    <li>Hélio Santos (2017). <a href="https://www.youtube.com/watch?v=03IR3migcXA&amp;t=336s">Umbrella of Kizomba - Music (Corpo da Kizomba).</a></li>
    <li>José Garcia N’dongala</em> (2012). <a href="http://kizombalove.com/wp-content/uploads/2016/02/Kizombalove-Syllabus.pdf">José N’dongala Kizombalove Methodology. Teachers Course.</a></li>
    <li><a href="https://en.wikipedia.org/wiki/Kizomba\">Kizomba.</a> Wikipedia.</li>
    <li>Laurent Yìshù (2016). <a href="https://www.youtube.com/watch?v=D33kZZvTf5k&amp;t=4s">Kizomba doesn’t exist.</a></li>
    <li>Lorraine O'Connor (1993). <a href="http://www.caribbean-beat.com/issue-8/kassav-doctor-zouk">Kassav: Doctor Zouk.</a> Caribbean Beat 8.</li>
    <li>Mais Kizomba. <a href="https://www.maiskizomba.com/en/kizomba">What is Kizomba?</a></li>
    <li><a href="https://en.wikipedia.org/wiki/Urban_Kiz">Urban Kiz.</a> Wikipedia.</li>
  </ul>