<p>Készítettem nektek egy szemba, egy kizomba, egy ghetto zouk és egy tarraxinha lejátszási listát, hogy halljátok a különbséget a zenei stílusok között, amikre kizombát, illetve szembát táncoltok. A ghetto zouk nem kizomba zene! A kizomba zene a szemba és a zouk keveréke. Eredeti kizomba zenét a hazai bulikban kevesebbet játszanak, mert a ghetto zouk dominál.</p>

<h2>Szemba</h2>
<p>A szemba zenénél általában a dikanza (ütős hangszer), a batuque (konga dob) és a harmonika dominál.</p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PLFH6j6vN9B8OTN86oKbVr9jNzrT32MMUp" frameborder="0" allow="encrypted-media" allowfullscreen></iframe>

<h2>Kizomba</h2>
<p>A kizomba számokban tipikus a zongora/szintetizátor és a basszusgitár. Persze vannak kivételek.</p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PLFH6j6vN9B8NInxBGiG5YyAjR-JPfiXRn" frameborder="0" allow="encrypted-media" allowfullscreen></iframe>

<h2>Ghetto zouk</h2>
<p>A ghetto zouk elektronikus zene (dobgép + szintetizátor/keyboard) erős R&B hatással.</p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PLFH6j6vN9B8Me9IvbJ3nB2p5y3LudxZ4z" frameborder="0" allow="encrypted-media" allowfullscreen></iframe>

<h2>Tarraxinha</h2>
<p>A tarraxinhát elektronikus hangzás és kemény basszus jellemzi pumpáló-lüktető érzést kiváltva. A ghetto zouk-hoz képest kevésbé hangsúlyos az ének és a dallam.</p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PLFH6j6vN9B8OLPfjK8Q5ZdPzItwpJ7aV_" frameborder="0" allow="encrypted-media" allowfullscreen></iframe>

<h2>Zenék urbankiz-hez</h2>
<p>Ez a lista annyiban kakukktojás, hogy többféle stílusú zene van rajta (remix kizomba, tarraxa és egyéb számok), hiszen az urbankiz nem zenei stílus, bár az igazság szerint kezd kialakulni egy olyan stílus, amit kifejezetten az urbankiz tánchoz készítenek.</p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PLFH6j6vN9B8PriRZ9n0Dtrl_ooZ1SXZPv" frameborder="0" allow="encrypted-media" allowfullscreen></iframe>
