<h2>Fontos tudnivalók</h2>

<p>A kizomba gyakorlatilag nem egy teljesen új tánc, hanem a szembán alapul. Az alaplépések (1-es, 2-es alap, 3 alap, amit Ida e Volta-nak is neveznek, valamint a Koreidinha, ami egy szűk körben végzett séta 8 ütemre) és az alapfigurák (Men Saida és Lady Saida) teljesen azonosak a szembában és a kizombában, bár a végrehajtás és a dinamika eltérő.</p>
<p>A különböző figurák nevei tánciskolánként eltérhetnek! Az alapok természetesen mindenhol ugyanazok. Csatoltam néhány rövid oktató videót (Ennuel Iverson munkái) a szemba alapokról.</p>

<h2>Az alaplépések</h2>

<p>3 vagy 4 alaplépésről szokás általában beszélni, ezek:</p>
<ul>
  <li>1-es alaplépés</li>
  <li>2-es alaplépés</li>
  <li>3-as alaplépés (Ida e Volta néven is ismert - forrás: Ennuel Iverson)</li>
  <li>4-es alaplépés (Koreidinha néven is ismert - forrás: Ennuel Iverson, Maria & Arnold)</li>
</ul>

<iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/vq8nbYbIQBo?rel=0" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
<figcaption>1. videó: A kötődés (Connexion) Ennuel Iverson szerint. A mellkasból beledőlés nem igényel különösebb magyarázatot. A lány jobb könyöke állandóan lefele néz a tartásban. Érdekes módon Ennuel a jobb karjával teljesen átfogja a lány két lapockáját szorosan. Azonban a nyitottabb tartásban végzett technikáknál hátrány a szoros tartás. Ilyenkor elég a lányt csak a bal lapockájánál fogni jobb kézzel (ami neked nyilván a jobb oldalon van).</figcaption>

<iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/DE0PNRuh-y4?rel=0" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
<figcaption>1. videó: 2-es alaplépés (binary step) Ennuel Iverson szerint. Érdekes, hogy nem hívta fel a figyelmet a mellkas mozgására a lépés közben.</figcaption>

<iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/ZtP157wVXJ0?rel=0" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
<figcaption>2. videó: 3-as alaplépés (Ida e Volta) Ennuel Iverson szerint. Figyeljétek meg Ennuel csípőmozgását!</figcaption>

<iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/cvdZI2aKsWI?rel=0" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
<figcaption>3. videó: 4-es alaplépés (Koreidinha) Ennuel Iverson szerint. Egy nagyon kicsit bele kel dőlni mellkasból abba az irányba, amerre a kört végrehajtjuk.</figcaption>

<h3>Felhasznált forrás</h3>

<ul class="literature">
  <li><a href="https://www.danceninspire.com/api/tags/html?tagname=kizomba">www.danceninspire.com</a></li>
</ul>