<h1 class="post-title-size">Kevesebb mozgást, több beleélést! (University of Kizomba)</h1>
<p class="smallest pt0 mt0 mb2">2018. április 30.</p>

<p>Az idősek részéről az egyik legnagyobb kritika itt Angolában, amikor fiatalokat látnak a tengerentúlon kizombát/sembát táncolni – beleértve néhány angolait is –, hogy túl nagy hangsúlyt fektetnek a trükkökre és a showműsorra.
</p>

<p>Amikor lassú a zene, még akkor is csillapíthatatlan szükségét érzik a lábmunka túlhasználatára (ami nagyon gyakran rugdosásnak tűnik).
</p>

<p class="bold">Tehát ha ma este vagy máskor kizombázni mennél, bárhol is legyél a világon, tégy tudatos lépéseket a felé, hogy kevesebbet táncolj a testeddel és többet a lelkeddel! És emlékezz rá: a kizomba nem csak mozgásról szól, hanem az érzelemről is! 😉</p>

<iframe class="center-align mx-auto mthalf shadow2" width="560" height="315" src="https://www.youtube.com/embed/oGkEwZF0tYg?rel=0" frameborder="0" allow="encrypted-media" allowfullscreen></iframe>
<figcaption>Az egyik idős táncos (kota), Antonio Rosa tánca. A nő neve nem ismert.</figcaption>

<h2 class="medium">Felhasznált forrás</h2>
<ul>
  <li><a class="underline" href="https://www.facebook.com/University.of.Kizomba/videos/626483357693494/">University of Kizomba (2018).</a></li>
</ul>