<p>Az idén elkezdtem rendszeresen kizomba workshop-okra járni. A számolásra letáncolt figurák és a zenés bemutatók videóit teszem fel ide.</p>
        
<h2>A VIII. Kecskeméti Kizomba Workshop Nap (2018-01-20)</h2>
<iframe class="vimeo-video" src="https://player.vimeo.com/video/261322063" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
<p><a href="https://vimeo.com/261322063">KCH Viktor &eacute;s Vera, Kizomba WS, Kecskem&eacute;t 2018-01-20 (urban kiz, zen&eacute;re)</a> from <a href="https://vimeo.com/andrasgulacsi">Andr&aacute;s Gul&aacute;csi</a> on <a href="https://vimeo.com">Vimeo</a>.</p>

<iframe class="vimeo-video video-margin-top" src="https://player.vimeo.com/video/261329965" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
<p><a href="https://vimeo.com/261329965">KCH Viktor &eacute;s Vera, Kizomba WS, Kecskem&eacute;t 2018-01-20 (urban kiz, sz&aacute;mol&aacute;sra)</a> from <a href="https://vimeo.com/andrasgulacsi">Andr&aacute;s Gul&aacute;csi</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
      
<h2>A IX. Kecskeméti Kizomba Workshop Nap (2018-03-03)</h2>

<iframe class="vimeo-video" src="https://player.vimeo.com/video/262675461" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
<p><a href="https://vimeo.com/262675461">KCH Kelemen Edmund &eacute;s Szab&oacute; Rita, Kizomba WS, Kecskem&eacute;t 2018-03-03 (tarraxa, zen&eacute;re)</a> from <a href="https://vimeo.com/andrasgulacsi">Andr&aacute;s Gul&aacute;csi</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
        
<iframe class="vimeo-video" src="https://player.vimeo.com/video/262674887" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
<p><a href="https://vimeo.com/262674887">KCH Kelemen Edmund &eacute;s Szab&oacute; Rita, Kizomba WS, Kecskem&eacute;t 2018-03-03 (tarraxa, sz&aacute;mol&aacute;sra)</a> from <a href="https://vimeo.com/andrasgulacsi">Andr&aacute;s Gul&aacute;csi</a> on <a href="https://vimeo.com">Vimeo</a>.</p>