<h2>Bevezetés - Miről szól a videó?</h2>

<p>Billy és Monica Kay egy órás videóban osztották meg a nemzetközi kizomba instruktorként szerzett tapasztalataikat és tanácsaikat mindazok számára, akik sikeresek akarnak lenni a tánciparban. Most ennek az angol nyelvű videónak a tartalmi fordítását adom közre. Szerintem vannak benne hasznos információk, melyek valakinek talán hasznára lesznek.</p>
<p>Rövid bemutatkozó: Billy és Monica Kay (Houston, Texas, USA) egy sikeres nemzetközi tánccéget hoztak létre Kizomba Harmony néven.</p>

<iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/hPtLxS367Rc?rel=0" frameborder="0" allow="encrypted-media" allowfullscreen></iframe>

<h2>Lista: Mire van szükséged ahhoz, hogy sikeres legyél?</h2>

<p>A legtöbben szórakozásból kezdenek el táncolni, de ha esetleg többet akarsz, akkor tudnod kell, hogy mire számíts, hogyan indulj el, mert számos kihívással és nehézséggel kell szembenézned az utad során.</p>
        
<h3>1. Legyen jövőképed: Mit jelent számodra a siker, mit akarsz elérni?</h3>
<p>Tudnod kell hova akarsz eljutni. Nehéz eldönteni, hogy mit kell tenned, ha nincsen elképzelésed. Sokan csak népszerűek akarnak lenni („celebek”). Billy és Monica Kay viszont egy virágzó, globális kizomba ipart szeretnének létrehozni.</p>
        
<h3>2. Egy virágzó kizomba ipar létrehozásához több dologra is szükség van:</h3>",
<ul>
  <li>Profi és jól képzett instruktorok kellenek, akik tudják hogyan kell különböző embereket tanítani (például egyesek audiovizuálisak, ellenben mások csak úgy képesek megérteni a technikákat, ha levezetik nekik).</li>
  <li>Olyan DJ-kre van szükség, akik értenek a kizomba zenéhez, jól olvasnak a közönségben, hogy épp milyen zenét akarnak. Egy jó DJ feldobja a buli hangulatát. Amit itt hozzátennék, hogy nagyon fontos, hogy az összes kizomba zenei stílusból játsszon (ghetto zouk, „hagyományos” kizomba, szemba, tarraxinha).</li>
  <li>Tisztességes és közösségorientált szervezők is kellenek, akik nem a könnyű pénzre hajtanak, hajlandóak befektetni az olyan művészekbe, akik értik a dörgést (ahelyett, hogy az alapján döntenének, hogy kik a barátaik vagy ki tartozik a klikkjükbe).</li>
  <li>Jó közösségi táncosokra is szükség van, akik megfelelő kizomba alapokkal rendelkeznek.</li>
</ul>
<p>A kizomba lényegében nem egy show-tánc vagy versenytánc (bár vannak versenyek, de ott a nézőközönség lenyűgözése a cél - persze ennek is meg van a helye, de a kizomba nem igazán erről szól), mert a hangsúly a közösségen van, hiszen a kizomba egy kulturális tánc, aminek az alapja a szemba angolai néptánc.</p>
        
<h3>3. Ismerd meg a képességeidet!</h3>
  <p>Ismerd meg a képességeidet és ehhez igazítsad a céljaidat, hiszen elképzelhető, hogy nem értesz a tanításhoz, nem szereted az embereket, nincs türelmed hozzájuk stb.. Más módon is lehetsz úttörő, sikeres.</p>
        
<h3>4. Alázatosnak kell lenned!</h3>
<p>Nem a hamis alázatosságra kell gondolni a közösségi médiában, ahol sokan vannak, akik sokat adnak a látszatra és megjátsszák magukat, hogy ők \"másokkal ellentétben milyen jó és szuper\" emberek. A valóság persze egészen más. A Facebook nem a valóság.</p>
<p>Az alázatosság a videó kontextusában az őszinteséget takarja. Őszintének kell lenned önmagaddal, viszont ez nehéz, mert rákényszerít olyan hibák beismerésére, amit nem akarunk beismerni. A hibák megkeresése és javítása nélkül nem fogsz fejlődni.</p>
<p>Sok ember a táncban messze jobbnak képzeli magát, mint amilyen valójában, mert úgy érzik, hogy keményen dolgoznak és nagyszerűek, éppen ezért úgy gondolják, hogy automatikusan megilleti őket a személyes siker és a felkérések az eseményszervezők részéről. Azonban valóságban az a szint messze nem olyan magas, mint egyesek magukról képzelik. Még ha magas a színvonal, akkor sem tartozik neked senki a kizombavilágban.</p>

<h3>5. Jó mentorokra van szükséged!</h3>
<p>Olyanokra, akik sokkal tapasztaltabbak nálad és a kisujjukban van a kizomba ipar. Azonban nem könnyű jó mentort találni. Milyen a jó mentor?</p>
<ul>
  <li>Meg tudja neked mondani, hogy mire van szükséged, amin dolgozod kell.</li>
  <li>Meg tudja adni azt, amire neked az előremeneteledhez szükséged van.</li>
  <li>Hajlandó megadni azt, amire szükséged van, vagyis segít elérni a célodat.</li>
</ul>
<p>Az utolsó pont kulcsfontosságú, hiszen sokan nem akarják, hogy a tanítványaik felülmúlják őket. Egy jó tanár viszont azt akarja, hogy a tanítványai felülmúlják őket, hogy a lehető legjobb kizombások legyenek.</p>

<h3>6. Munkát kell belefektetni, nincsen ingyen ebéd!</h3>
<p>Nem kell „szuperprofinak” lenned ahhoz, hogy elkezdhess tanítani. Csupán magabiztos, jó alapokra van szükség, amire lehet később építkezni. Ez egy hosszú, évekig tartó tanulási folyamat.</p>

<h3>7. Legyél szakmai!</h3>
<p>A szakmaiság nem csak azt jelenti, hogy fizetnek azért, amit csinálsz. A szakmaiság a tehetség, a tapasztalat, az elért eredmények és a viselkedés kombinációja. A táncos közösségben sokan vannak, akik magukat profinak tartják, miközben a viselkedésük nem megfelelő.</p>
<p>Bármit teszel, mindig lesznek olyanok, akik kritizálni fognak és irigyek lesznek rád a sikereid miatt, és hogy magabiztos vagy. Hiába vagy tiszteletteljes és jóságos, ez nem garantálja, hogy mindenki kivétel nélkül kedvelni fog. Ez nem rólad szól, hanem róluk. Teljesen felesleges velük foglalkozni.</p>
<p>A Kizomba Harmony az elért sikerei miatt rengeteg támadásnak lett kitéve a közösségi médiában sárdobáló gyűlölködők részéről. Talán ez a közösségi médiás sárdobálózás Magyarországon nem annyira jellemző, legalábbis a táncberkekben nem.</p>
<p>Ügyelj a viselkedésedre és gondolj a cselekedeteid következményeire a közösségi médiában is! Az egódat is fogd vissza! Nem lehetsz egyenlő olyasvalakivel, aki már mondjuk 10 éve van a porondon. Nem is várható el.</p>

<h3>8. Egyedit kell mutatnod!</h3>",
<p>Egyedit kell mutatnod, ami nem feltétlenül egy új stílust, hanem például újszerű megközelítést vagy új tanítási módot jelent. Tudsz-e olyat nyújtani, amit mások nem?</p>

<h3>9. Találd meg a gyengeségeidet és sajátítsd el az alapokat rendesen!</h3>
<p>Találd meg a gyengeségeidet vagy keress egy jó mentort, aki segít megtalálni azt! Dolgozz a gyengeségeiden, alakítsd át őket az erősségeiddé! Például Billy & Monica Kay nagy gyengéje volt a megfelelő alapok hiánya! Felét se tudták megcsinálni, amire <a href="https://www.youtube.com/watch?v=Obg0OUOLd8s">Curtis & Carola</a> képes. Nem értették, hogy miért volt ez. Ennek az egyetlen oka az afrikai tánc alapok hiánya volt. Miután elsajátították a szemba, és egyéb afrikai tánc (pl. soukous, mutuashi) alapokat, sokkal jobban tudták irányítani a testüket.</p>

<h3>10. A táncterméked fontos része az imázs, a megjelenés!</h3>
<p>Ehhez viszont fizikailag fittnek (megfelelő erőnlét, az izmok lazasága) és egészségesnek kell lenni. Nyilván nem lehetnek mindenkinek jó külső adottságai, viszont attól még lehetnek kitűnő táncosok és tanárok.</p>

<h3>11. Fontos a hozzáállás!</h3>
<p>Hiába van nagy tehetséged, ha a negatív viselkedésed beárnyékolja azt. Ha közösségi médiában részt veszel a különböző klikkharcokban más kizombások kritizálásában, becsmérlésében, ha alantas, kicsinyes, beképzelt, undok stb. vagy, akkor semmi jóra nem számíthatsz. Sőt, nem csak a saját viselkedéset számít, hanem azoké, akikkel együtt lógsz!</p>
<p>Lehetőség szerint mindenkivel táncolj a bulikban, ne csak a legjobb külsejű nőkkel és ne csak a haladókkal. A női instruktorokra is vonatkozik ez: ne csak üljön a sarokban, hanem legyen felkérhető, ne legyen elutasító!</p>

<h3>12. Hogyan kapj felkéréseket a kizomba rendezvények (fesztiválok, workshop-ok) szervezőitől?</h3>
<p>Az emberek tanulni mennek a rendezvényekre és persze kapcsolatba lépni a táncosokkal. Ehhez gördülékeny szervezésre és minőségi oktatásra van szükség. A hangsúly a résztvevők élményén van. Nincs szükség drámára és balhéra, mert elronthatja az eseményt. A szervező részéről bizalom kérdése, hogy felkér workshop tartására. Ha nem hozol elég résztvevőt, akkor veszteség éri a szervezőket, akik pénzt fektettek be a rendezvény létrehozásába. Így a későbbiekben nem fognak felkérni.</p>
<p>Ha világszínvonalú tehetség vagy, még akkor is viselkedned kell. Ha nem vagy világszínvonalú táncos, akkor meg aztán pláne, hogy profin kell viselkedned, hogy felkérjenek. Az is fontos, hogy könnyű legyen veled együtt dolgozni. Kiszámíthatatlan és megbízhatatlan emberekre nem lehet ipart építeni.</p>
<p>Ezeket a kérdéseket kell feltenned magadnak, ha nem kapsz (elég) felkérést:</p>
<ul>
  <li>Kiktől tanultad a kizomba alapokat, mi a leszármazásod? Ez nagyban meghatározza a stílusodat (az alma nem esik messze a fájától). Meg vannak-e az alapjaid, vagy csak vettél egy pár szemba show órát és készítettél néhány YouTube videót, ami kívülről jól néz ki?</li>
  <li>Van-e kapcsolatod a szervezőkkel? Ha nem ismernek, elég nehéz lesz felkérést kapni.</li>
  <li>Milyen tanítványaid vannak? Milyen jó táncosokat neveltél?</li>
  <li>Érted-e az esemény célját, hogy miről szól? Beleillik-e a tematikába a te stílusod?</li>
  <li>Rendelkezel-e valami olyan dologgal, ami hozzáadna valami pluszt az eseményhez?</li>
  <li>Mondtál-e valami rosszat a szervezőkről a közösségi médiában (vagy olyanokkal lógsz együtt, akik ezt teszik)? Nyilván ez után nem is várhatod el, hogy meghívjanak.</li>
  <li>Támogattad-e a szervezőket, volt-e valami jó szavad róluk, vettél-e részt az eseményeiken?</li>
</ul>