<h2>Mi az urbankiz?</h2>

<p> Az urbankiz a kizomba alapok és az arra építkező személyes stílusok egyvelege, amit főként tarraxinha és ghetto zouk zenékre táncolunk. Az urbankiz-nek két összetevője van:</p>

<ol>
	<li>A zeneiség egy kibővített eszköztára;</li>
	<li>A fúzió és a kreativitás iránti nyitottság (természetesen a kizomba/szemba esetén is van kreativitás).</li>
</ol>

<h2>Milyen zenére táncolnak az urbankiz táncosok?</h2>

<p>Az urbankiz nem kötődik kulturálisan a kizombához/szembához, sem Angolához, sem pedig magához Afrikához. A "kultúra védelmezői" nem szeretik az urbankiz-t, és egy a kizombától különálló táncnak tekintik, [<b>Megjegyzés: egyre jobban egyetértek ez utóbbival, vagyis hogy az urbankiz nem kizomba!</b>] nem pedig a kizomba egy stílusának, mint amilyen a tarraxinha, ami egyben zenei stílus is. Azonban meglepő módon az urbankiz-t angolaiak és egyéb PALOP (portugált hivatalos nyelvként használó afrikai országok: Angola, Zöld-foki-Köztársaság, Bissau-Guinea, Mozambik, São Tomé és Príncipe) országbeliek által létrehozott zenei stílusok inspirálták, amelyek már sokkal előbb léteztek. Vagyis a zene nem Franciaországból jött, onnan csak az urbankiz származik. Az urbankiz egy Párizsban élő kongói férfinak (Curtis Seldon) és táncpartnerének személyes stílusaként indult útjára.</p>

<p>Nem létezik olyan, hogy urban kiz zene. Az urbankiz-t tarraxinha (vagy tarrraxa) és ghetto zouk-ra szokás táncolni. A remix kizombát (különböző rap, pop és hasonló zenék feldolgozása) és az instrumental-t (a franciák doceur-nak, édesnek nevezik) a tarraxa zene alstílusaiként értelmezhetjük. A ghetto zouk zenék ritmusa sokszor tarraxa, tehát van átfedés a két stílus között. Ezen felül vannak egyéb stílusok is: tarraxo, zouk bass...</p>

<p>A videóban 13:06-tól kezdődik elsőnek a kizomba, majd utána az urbankiz bemutatása zenére. Sem a tartás, sem a pedig kötődés nem változott. A zeneiség, a zenei interpretáció volt más, valamint hozzáadtak egy kis fűszerezést, amik a kizombában nem léteznek. Az urbankiz saida és a kizomba saida egy és ugyanaz, csupán a végrehajtás különbözik. Eléggé különbözik a végrehajtás, hogy ezért külön stílusnak tekintsük őket (régen francia stílusnak nevezték az urbankiz-t). [<b>Megjegyzés: vagy inkább külön táncnak.</b>]</p>

<iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/2EfF7BIbBaE?start=786" frameborder="0" allow="encrypted-media" allowfullscreen></iframe>
<figcaption>Kizomba Harmony: Why "Urban" is a Style of Kizomba, and How to Heal the Divide</figcaption>

<h2>Ha a kizomba része az urbankiz, akkor miért tűnik mégis olyan másnak a kizombához képest?</h2>

<p>A YouTube-on rengeteg olyan videót látni, ahol robotosan, törten és feszes tartással táncolnak, így sokan azt gondolják tévesen, hogy az urbankiz esetén így kell táncolni, pedig nem. Ennek a jelenségnek két oka van:</p>

<ol>
	<li>A táncháttér (egyesek a hip-hoppal, mások a latin táncokkal stb. kezdtek és onnan tértek át az urban kiz-re) és az afrikai tánc alapok (vagy annak hiánya);</li>
	<li>A táncos személyes preferenciája.</li>
</ol>

<p>Ég és föld a különbség azok tánca között, akik erős, illetve gyenge afrikai tánc alapokkal (kizomba, szemba, egyéb afro stílusok) rendelkeznek,  még ha külső szemlélőként ez nem is tűnik fel annyira. Értem ezt úgy, hogy a nők számára sokkal jobb egy olyan urbankiz táncost követni, akinek megvan a kizomba/szemba alapja, mint akinek nincsen. Az urbankiz-ben a fúzió akkor működik jól, ha képzett vagy azokban a dolgokban, amiket ötvözöl. Azonban a rossz urbankiz táncosok nagyon sokszor a fúziót a hiányosságaik pótlására használják, mert nincsen meg a kizomba/szemba alapjuk. [Megjegyzés: talán ez a jellemző.]</p>
<h2>Sokan úgy vélekednek, hogy az urbankiz nem a kizomba egy stílusa, hanem egy teljesen különálló tánc.</h2>

<p>Ha az urbankiz és a kizomba különböző tánc lenne, akkor kivehetnél az urbankiz-ből mindent, ami a kizombából jött és egy táncot kapnánk vissza. Ha egy urbankiz táncos vagy erős kizomba alapokkal, akkor minden urbánus elemet kidobva képes lennél kizombát táncolni. Ha viszont az urban-ból vennénk ki minden kizomba alapot (kötődés, virgulák, saidák stb.), akkor csak lépések és trükkök gyűjteménye maradna hátra, nem egy egész tánc. Az urbankiz tehát a kizomba egyik stílusa. [Frissítés: az is lehetséges, hogy a kettő külön tánc, és aki ismeri mindkettőt, az tudja táncolni mindkettőt, aki csak az urbankizt ismeri, az nem tud kizombát táncolni. Ezzel szemben aki tud kizombázni, az képes módosítani a táncát egy "urbankiz-es" zenére.] Személyes ízlés kérdése, hogy ki melyiket szereti jobban.</p>

<p>Az afrikai kultúra védelmezői és egyes urbankiz táncosok tekintik az urbankiz-t egy különálló táncnak. Ez nagyon kártékony elképzelés, ugyanis ha külön táncnak vesszük, akkor abból az következik, hogy nem is kell a kizombát (illetve a szembát) megtanulni az urbankiz-eseknek, akik továbbra is robotzsaruként fognak mozogni.</p>


<h3>Felhasznált forrás</h3>

<ul class="literature">
  <li>Kizomba Harmony 2017: <a href="https://www.youtube.com/watch?v=2EfF7BIbBaE">Why "Urban" is a Style of Kizomba, and How to Heal the Divide</a></li>
</ul>
