<h1 class="post-title-size">Az igazság a sembáról és a kizombáról (Eddy Vents)</h1>
<p class="smallest pt0 mt0 mb2">2018. június 23.</p>

<p>A semba egy történelmi jelentőségű közösségi tánc egy kulturálisan gazdag afrikai országból, Angolából, amit nemzedékről-nemzedékre továbbadnak. A semba tánc szépsége a hagyományos lábmunkában, a tartásban és a kötődésben rejlik.
</p>

<p>A semba keltette életre a kizombát, egy hasonlóképpen gyönyörű és remek táncot. A kizombában nincsenek szexuális mozdulatok, imitációk és nem a bunda (fenék) mozgása áll a középpontban!
</p>

<p>A semba és a kizomba mindkettő családi tánc, ahol nem számít az életkor, a testméret vagy a szépség, hanem csak a tánc élvezete. A sembát és a kizombát mindenhol táncolják: a lakásban, a klubokban, az utcán, az udvaron, mindenütt; és mindenkivel: anyákkal, nővérekkel, gyerekekkel, barátokkal és szomszédokkal stb.
</p>

<p>A sembában a hangsúly nem a trükkökön, hanem a lábmunkán van (angolai swagg). A semba és a kizomba hagyományos családi táncok szexuális mozdulatok és imitációk nélkül, ahol a hangsúly a táncon és nem a testformán/méreten van.
</p>

<p>Szintén létezik a semba show nevű műfaj, amiben a lábmunka mellett a trükkökön van a hangsúly. A semba show versenyekre, showműsorokra, fellépésekre való, illetve az új nemzedék körében folyó tánccsaták elengedhetetlen eleme. Sajnos, amit a legtöbb fesztiválon tanítanak az nem semba (semba social), hanem semba show, így aztán sokakban téves kép alakul ki a sembáról.
</p>

<p>Attól még nem leszel semba táncos, ha egy dal alatt megcsinálsz 3000 trükköt, és szintúgy nem válsz kizomba táncossá, ha szexuális mozdulatokat csinálsz a bundáddal (fenekeddel). A trükkök csak a semba showra tartoznak.
</p>

<p>Teljesen nyilvánvaló, hogy a semba nemzedékről-nemzedékre fejlődik, de a gyökereit és az alapjait megőrzik. Minden egyes nemzedék technikája magasabb szintre fejlődik. Ez az evolúció.
</p>

<iframe class="center-align mx-auto mthalf shadow2" width="560" height="315" src="https://www.youtube.com/embed/OJIANxJYCpw?rel=0" frameborder="0" allow="encrypted-media" allowfullscreen></iframe>

<h2 class="medium">Felhasznált forrás</h2>
<ul>
  <li>Eddy Vents (2016). <a class="underline" href="https://eddyvents.com/2017/08/02/the-evolution-of-semba-kizomba/">The Truth About Semba & Kizomba</a>.</li>
</ul>
