<h2>A kötődés és a testből vezetés kifejlesztése</h2>

<p>A kizomba a talajjal, a partnerrel, a zenével és önmagaddal való kötődésről szól. Sokan csak bonyolult trükköket, figurákat hajtanak végre egymás után, mechanikusan, kötődés és érzelmek nélkül. Ezt teljesen helytelen, mert a kizombában soha nem a nézőközönség lenyűgözése a cél, hanem az egymással táncolás (és a partnered lenyűgözése). Nem a begyakorolt technikákon kell tánc közben agyalni, hanem elengedni magadat és egyesülni a zenével, hiszen a kizomba lépés annak következménye, amit hallasz.</p>
<p>Amikor partnerrel gyakorolsz, akkor próbálj meg nem figurázni (semmi saida, casamento, puerta, virgula és társai), hanem helyette maradjatok kötődésben, és szigorúan csak az alaplépéseket vezesd le: egy-két-tepp, lép-tepp és ezek mindenféle kombinációja. A kizomba valójában csak ennyi: két test a mellkason keresztül egybekötve a zenére lépdel a földön.</p>
<p>Gyakoroljátok a kötődést negyed, fél vagy akár egy órán keresztül! Nagyon fontos, hogy kéztartás nélkül, kizárólag mellkasból történjen a vezetés és a követés. Ez idővel kifejleszti a testvezetés (és testkövetés) képességét. Olyan lesz a vezetésed, mint a víz. A tánc közben a zeneiségedet, hogy milyen ügyesen interpretálod a zenét (lassítások, gyorsítások, megállások, kreatív ötletek), is megosztod a nővel.</p>

<h2>A kizomba az önkifejezésről szól!</h2>

<p>Bele kell tenned a személyiségedet abba a stílusba, amit szeretsz! Nem számít, ha egy másik táncos vagy instruktor inspirálta a saját stílusodat. Még akkor sem, ha úgy érzed, hogy másokat másolsz, és nem akarod ezt tenni. Kezdetben nyugodtan másold le teljesen! Utána tedd bele magadat a zenébe, kommunikálj a testeddel! Ne félj vagy szégyelld, ha másokat utánozol! Tehát a két szabály:</p>

<ol>
  <li>Elsőnek másold le!</li>
  <li>Utána tedd bele a személyiségedet!</li>
</ol>

<h2>A kizomba arról szól, ahogyan érzel!</h2>

<p>Ez az alapok alapja. Látni a táncosokon, hogy készülnek a partikra. Adnak a külső megjelenésre: jó illat, tiszta lehelet; jó póló és karóra az izmos férfiakon; fülbevaló és magassarkú a szexi nőkön, szépen kirakott cicikkel, no és persze a szoknya vagy farmer alatt rejtőző feszes és formás fenékkel. Mindez dicséretes és támogatandó.</p>
<p>Azonban a kizomba nem arról szól, hogyan nézel ki, hanem arról, hogy hogyan érzel! Elsőnek próbáld meg jól érezni magadat a saját bőrödben! Csak erre összpontosíts! Ha jól érzed magadat, akkor sokkal jobb lesz a kötődés, kreatívabb leszel, jobban fogod érezni a zenét, jobb lesz az egyensúlyod, és mindezek eredményeként a vezetésed is fejlődik majd. Először érezd jól magadat és utána ez meglátszik majd a külsődön és a mozgásodon is!</p>

<h2>A kreativitás a kizombában</h2>

<p>Ahhoz, hogy kreatív legyél, egyesülnöd kell a zenével és bele kell élni magadat. Amikor kezded a zenét, akkor csak nagyon kevés mozgást végezz! Csak akkor mozdulj, amikor úgy érzed, hogy ez a megfelelő pillanat. A táncpartnered látni fogja, hogy teljesen őrült vagy és lehet, hogy nyávogni fog, hogy: <em>„De hát mit csinálsz, táncolj, gyerünk, táncolj már rendesen, gyerünk, na...”</em>! Ne hallgass rá!</p>
<p>Figyelj a zenére! Várj a megfelelő pillanatra a cselekvéshez! Ne akkor indulj meg, amikor a tudatod szerint logikus lenne lépned! Helyette hallgass a testedre! A belső ösztönös éned akkor késztet lépésre, amikor teljesen logikátlan, értelmetlen. Hallgass erre a belső hangra és ne foglalkozz azzal, amit a tudatos éned mondat veled arról, hogy mi számít helyesnek és helytelennek.</p>
<p>Ha eszedbe jut egy őrültség, akkor valósítsd meg! Légy bátor, ne hagyd ki a lehetőséget! Azért megjegyzem, hogy néha szoktam vívódni, hogy csináljam-e a saját „marhaságaimat”, főleg, ha nagyon őrült az ötlet. Tudni kell, hogy melyik lány fogékonyabb az ilyen őrültségek iránt, és vele érdemes próbálkoznod.</p>
<p>Kapcsold ki az agyadat, feledkezz bele a zenébe, ne agyalj semmit, hanem ragadjon el az áradó zene.</p>

<h3>Felhasznált források</h3>

<ul class="literature">
  <li><a href="https://www.youtube.com/watch?v=T5Y07BbATSM">Ennuel Iverson: Kizomba Connexion - The Steps is the consequence of Musicality</a></li>
  <li><a href="https://www.youtube.com/watch?v=BVBbG9z-MUs">Ennuel Iverson: Express Your Personality in Your Dance !</a></li>
  <li><a href="https://www.youtube.com/watch?v=_Ty1hMpymQs">Ennuel Iverson: Dance its about how you feel / Kizomba Tips and Advices</a></li>
  <li><a href="https://www.youtube.com/watch?v=xFlVxm6HqA4">Ennuel Iverson: Kizomba Connexion With MySelf</a></li>
</ul>