<h2>Semba, kizomba, ghetto zouk vagy tarraxinha?</h2>

<h3>A semba és a kizomba zene közti különbség</h3>

<p>A kizomba és a semba zene közti különbség leginkább az, hogy <bold>milyen hangszereket használnak bennük, és nem a zene tempója!</bold> A zenészek a kizombában hajlamosabbak elektronikus hangszereket használni, míg a semba számokban inkább az akusztikusakat részesítik előnyben. Ez az elkülönítés nem egy szigorú szabály, mivel sok semba szám szintén használ elektronikus elemeket, sőt a kizomba is hasonlíthat a sembához a választott hangszerektől függően.</p>
<p>De hogy tovább nehezítsük az elkülönítést, sokan <bold>a kizombát gyűjtőfogalomként használják a kizombával rokonságban álló zenei stílusokra is</bold> (pl. tarraxinha, ghettozouk). Ezek különálló zenei stílusokat képeznek, hiszen akkor nem neveznék őket másnak.</p>
<p>Általános szabályként az állapítható meg, hogy a <bold>kizomba számokban tipikus a zongora/szintetizátor és a basszusgitár</bold>. A <bold>semba</bold> esetén pedig a <bold>dikanza</bold> (ütős hangszer), a <bold>batuque</bold> (konga dob) és a <bold>harmonika</bold>. Természetesen itt is vannak kivételek!</p>

<img class="normal" src="./../../../assets/images/dikanza.jpg" alt="Dikanza" title="Dikanza"/>
<img class="normal" src="./../../../assets/images/batuque.jpg" alt="Batukue" title="Batuque"/>

<p>A kizomba sokszor élő hangszereket is használ (például dobot, gitárt, trombitát, szaxofont stb.) a semba gyökerei miatt.</p>

<p>Készítettem két rövid mixet, ami remélhetőleg jó szemlélteti a hangzásbeli különbséget a kizomba és a semba között.</p>

<iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/438362583&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>
<figcaption>1. mix: Semba</figcaption>

<iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/438765138&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>
<figcaption>2. mix: Kizomba</figcaption>

<h3>A tarraxinha</h3>

<p>Az 1990-es évek elején Dj Manya, Dj Cubanito, Dj Joca Moreno és Dj Znobia egy új elektronikus zenei stílust hozott létre, amit tarraxinhá-nak (ejtsd: tarrasinnya) kereszteltek el. A tarraxinha kifejezés a portugál <em>’atarraxar’</em> szóból ered, ami csavart jelent. A tarraxinhát <strong>elektronikus hangzás és kemény basszus</strong> jellemzi pumpáló-lüktető érzést keltve. <bold>Teljes egészében szintetikusan</bold> állítják elő dobgéppel, szintetizátorokkal és vokállal. A tarraxinha táncnál <bold>az izolációs csípőmozgásokon</bold> és a csípőtekeréseken van a hangsúly - kifejezetten a nő részéről. A lépésekkel csak kis távolságokat tesznek meg.</p>

<iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/438073629&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>
<figcaption>3. mix: Tarraxinha</figcaption>

<h3>A ghetto zouk</h3>

<p>A ghetto zouk hasonlít a tarraxinhára. <strong>Szintén elektronikus</strong> zenék (dobgép + szintetizátor/keyboard), de <strong>erős R&B hatással.</strong> Ennek eredményeképpen <bold>az ének sokkal dallamosabb</bold>, mint a tarraxa esetén. Két tipikus ghetto zouk előadó Kaysha és Nelson Freitas.</p>

<iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/439344381&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>
<figcaption>4. mix: Ghetto zouk</figcaption>

<h3>Felhasznált forrás</h3>

<ul class="literature">
  <li>AfroLatino Dance Company (2015). <a href="http://afrolatinodance.com/2015/08/12/kizomba-as-musical-genre/">Kizomba as a Musical Genre.</a></li>
</ul>