<p>A 2 perces Sarah Lopez interjúrészlet szövegét egy kicsit átfogalmaztam.</p>
        
<h2><em>- The Kizomba Channel: </em> Miért fontos a kizomba lady styling tanulása a nőknek?</h2>

<p><em>- Sarah Lopez: </em> „Egy olyan táncot űzünk, ahol nekünk állandóan követnünk kell a férfiakat, ami rendben van, de mi már független nők vagyunk, és szintén szeretnénk a saját dolgainkat beletenni a táncba. Ez egy másik mód arra, hogy szórakozzunk, mozogjunk és megértsük, hogy ennek nem feltétlenül kell zavarnia a férfiakat a vezetésben. Ez egy olyan dolog, amit érzésből teszel, de eközben relaxáltan és összekötve kell érezni magadat. A lady styling sokat segít a kötődésben és a mozgásunk kifejezésében, a zene értelmezésében. Olyan ez, mint amikor követlek téged és élvezem az interpretációdat, de ebben egy kis rész belőlem, a szívemből is benne van.”</p>

<h2><em>- The Kizomba Channel: </em> Van valamilyen tanácsod a hölgyek számára, akik lady style-t akarnak tanulni?</h2>

<p><em>- Sarah Lopez: </em>„Persze. Számomra az a fontos hogyan érzel, és nem az, hogy a legösszetettebb technikákat próbáld végrehajtani, mert a kizomba egy jó példa arra, hogyha valami egyszerűt is csinálsz, az is lehet gyönyörű. Csak egy kicsit kell mozdítanod a lábadat és a csípődet. Végső soron nem bonyolítsd túl a dolgokat, hanem érezd a zenét és élvezd a mozgást. A zene lassú, ezért bőven van rá lehetőséged beletenni a kis mozdulataidat. Nem kell „megőrülni” és rengeteg technikát beletenni a táncodba <em>(főleg, hogy az már szerintem a férfit is zavarná a vezetésben, illetve ha a lány közben nem tud rendesen a követésre figyelni - saját megjegyzés)</em> A hangsúly az önmagaddal és a zenével való kötődésen van. <em>Itt ér véget az interjúrészlet.”</em></p>
        
<p>Most áttérek a tarraxinha taglalására, mert jól kapcsolódik a kizomba lady styling-hoz, a különböző csípő- és egyéb izolációs mozgásokhoz. A kizombában megfigyelhető jellegzetes csípőmozgást ginga-nak (ejtsd dzsinga) szokták nevezni. Ennek a férfiaknál is meg kell lennie, bár kevésbé hangsúlyosan, mint a nők esetén. A laza csípő elegedhetetlen.</p>

<iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/Rx1bZ1fcqpk?rel=0" frameborder="0" allow="encrypted-media" allowfullscreen></iframe>

<h2>Mi a tarraxinha, honnan ered?</h2>

<p>A tarraxinha egyben zenei stílus és tánc.</p>
<p>Az 1970-es és 1980-as évek Angolájában létezett egy Charo Chato-nak nevezett tánc, amit akkoriban szerelmes számokra és Bolero-ra táncoltak. Ezt követően, az elektronikus zene elterjedésével az 1990-es évek elején Dj Manya, Dj Cubanito, Dj Joca Moreno és Dj Znobia egy új elektronikus zenei stílust hozott létre, amit tarraxinhá-nak (ejtsd: tarrasinnya) kereszteltek el. A tarraxinha kifejezés a portugál <em>’Atarraxar’</em> szóból ered, ami csavart jelent.</p>
<p>A Charo Chato-t ma is táncolják megtartva az eredeti formáját, de ma már tarraxinha zenére táncolják ezt is.</p>
<p>A tarraxinha (röviden tarraxá-nak is szokás hívni) tánc a tarraxinha zene hatására alakult ki, és a kizomba tánc egyik alstílusát képezi az angolai kizomba/passada és az európai urban kiz stílusok mellett.</p>
<p>A tarraxa tánc esetén a párok szinte egy helyben mozognak nagyon kevés lépéssel vagy egyáltalán nem lépnek. A hangsúly a közeli testkontaktuson, a különböző csípő- és más hullámzó izolációs mozgásokon van. A kizomba és ghetto zouk stb. számok melodikus, lassú részei alatt is szokás egy kicsit tarraxinhá-zni.</p>
<p>A lejátszási listámban néhány hasznos oktató videót és és egy pár jó tarraxinha számot gyűjtöttem össze:</p>

<iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PLFH6j6vN9B8PxeKyeniNS00s_6L29sv7K" frameborder="0" allow="encrypted-media" allowfullscreen></iframe>
        
<h3>Felhasznált források</h3>
<ul class="literature">
  <li>Sarah Lopez interjú, The Kizomba Channel (Latrell Shaquan), 2016. <a href="https://www.youtube.com/watch?v=R_rkg9mj1z8">Sara Lopez on Why Kizomba Ladystyling is Important for Women - The Kizomba Channel</a></li>
  <li>Nemanja & Laura (2017). <a href="https://www.youtube.com/watch?v=uZGhlXP0d84">Let's Talk About TARRAXINHA</a></li>
</ul>