<h2>Mi az urban kiz?</h2>

<p> Az urban kiz a kizomba alapok és az arra építkező személyes stílusok egyvelege, amit főként tarraxinha és ghetto zouk zenékre táncolunk. Az urban kiz-nek két összetevője van:</p>

<ol>
	<li>A zeneiség egy kibővített eszköztára;</li>
	<li>A fúzió és a kreativitás iránti nyitottság (természetesen a kizomba/szemba esetén is van kreativitás).</li>
</ol>

<h2>Milyen zenére táncolnak az urban kiz táncosok?</h2>

<p>Az urban kiz nem kötődik kulturálisan az (autentikus) kizombához/szembához, sem pedig Angolához. A kultúra védelmezői nem szeretik az urban kiz-t, és egy a kizombától különálló táncnak tekintik. Nem pedig a kizomba egy stílusának, mint amilyen a tarraxinha, ami egyben zenei stílus is. Azonban meglepő módon az urban stílust angolaiak és egyéb PALOP (portugált hivatalos nyelvként használó afrikai országok: Angola, Zöld-foki-Köztársaság, Bissau-Guinea, Mozambik, São Tomé és Príncipe) országbeliek által létrehozott zenei stílusok inspirálták, amelyek már sokkal előbb léteztek. Vagyis a zene nem Franciaországból jött, onnan csak az urban táncstílus származik. Az urban kiz egy Párizsban élő kongói férfinak és táncpartnerének (Curtis és Carola) személyes stílusaként indult útjára. Tehát egy afrikai hívta életre afrikai zenére táncolva!</p>

<p>Nem létezik olyan, hogy urban kiz zene. Az urban kiz-t tarraxinha (vagy tarrraxa) és ghetto zouk-ra szokás táncolni. A remix kizombát (különböző rap, pop és hasonló zenék feldolgozása) és az instrumental-t (a franciák doceur-nak, édesnek nevezik) a tarraxa zene alstílusaiként értelmezhetjük. A ghetto zouk zenék ritmusa sokszor tarraxa, tehát van átfedés a két stílus között. Ezen felül vannak egyéb stílusok is: tarraxo, zouk bass...</p>

<p>A videóban 13:06-tól kezdődik elsőnek az autentikus kizomba, majd utána az urban kiz bemutatása zenére. Sem a tartás, sem a kötődés, sem pedig a mozgás nem változott. A zeneiség, a zenei interpretáció volt más, valamint hozzáadtak egy kis fűszerezést, újabb technikákat (fúzió), amik az autentikus kizombában nem léteznek. Az urban saida és az autentikus saida teljesen egy és ugyanaz, csupán a végrehajtás különbözik. Eléggé különbözik a végrehajtás, hogy ezért külön stílusnak tekintsük őket (régen francia stílusnak nevezték az urban kiz-t).</p>

<iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/2EfF7BIbBaE?start=786" frameborder="0" allow="encrypted-media" allowfullscreen></iframe>
<figcaption>Kizomba Harmony: Why "Urban" is a Style of Kizomba, and How to Heal the Divide</figcaption>

<h2>Ha a kizomba része az urban kiz, akkor miért tűnik mégis olyan másnak a kizombához képest?</h2>

<p>A YouTube-on rengeteg olyan videót látni, ahol robotosan, törten és feszes tartással táncolnak, így sokan azt gondolják tévesen, hogy az urban kiz esetén így kell táncolni, pedig nem. Ennek a jelenségnek két oka van:</p>

<ol>
	<li>A táncháttér (egyesek a hip-hoppal, mások a latin táncokkal stb. kezdtek és onnan tértek át az urban kiz-re) és az afrikai tánc alapok (vagy annak hiánya);</li>
	<li>A táncos személyes preferenciája.</li>
</ol>

<p>Ég és föld a különbség azok tánca között, akik erős, illetve gyenge afrikai tánc alapokkal (kizomba, szemba, egyéb afro stílusok) rendelkeznek,  még ha külső szemlélőként ez nem is tűnik fel annyira. Értem ezt úgy, hogy a nők számára sokkal jobb egy olyan urban kiz táncost követni, akinek megvan a kizomba/szemba alapja, mint akinek nincsen. Az urban kiz-ben a fúzió akkor működik jól, ha képzett vagy azokban a dolgokban, amiket ötvözöl. Azonban a rossz urban kiz táncosok nagyon sokszor a fúziót a hiányosságaik pótlására használják, mert nincsen meg a kizomba/szemba alapjuk.</p>
<h2>Egyesek úgy vélekednek, hogy az urban kiz nem a kizomba egy stílusa, hanem egy teljesen különálló tánc.</h2>

<p>Ha az urban és a kizomba különböző tánc lenne, akkor kivehetnél az urban kiz-ből mindent, ami a kizombából jött és egy táncot kapnánk vissza. Ha egy urban kiz táncos vagy erős kizomba alapokkal, akkor minden urbánus elemet kidobva képes lennél autentikus kizombát táncolni. Ha viszont az urban-ból vennénk ki minden kizomba alapot (kötődés, virgulák, saidák stb.), akkor csak lépések és trükkök gyűjteménye maradna hátra, nem egy egész tánc. Az urban kiz tehát a kizomba egyik stílusa. Olyan ez, mint a bachata-nál: van dominikai és sensual stílus, mindkettő más, de ugyanúgy bachata. Személyes ízlés kérdése, hogy ki melyik stílust szereti jobban.</p>

<p>Az afrikai kultúra védelmezői és egyes urban kiz táncosok tekintik az urban kiz-t egy különálló táncnak. Ez nagyon kártékony elképzelés, ugyanis ha külön táncnak vesszük, akkor abból az következik, hogy nem is kell az autentikus kizombát (illetve a szembát) megtanulni az urban kiz-eseknek, akik továbbra is robotzsaruként és trükköző gépként fognak mozogni kevés zeneiséggel, kötődéssel, áramlással (flow) stb., ami az alapokból ered.</p>

<h3>Felhasznált forrás</h3>

<ul class="literature">
  <li>Kizomba Harmony 2017: <a href="https://www.youtube.com/watch?v=2EfF7BIbBaE">Why "Urban" is a Style of Kizomba, and How to Heal the Divide</a></li>
</ul>
