<h1 class="post-title-size">Hogyan tegyél szert nagyszerű kizomba zeneiségre? (University of Kizomba)</h1>
<p class="smallest pt0 mt0 mb2">2018. április 27.</p>

<p>Részben azért rendelkezik az angolai táncosok legtöbbje kitűnő zeneiséggel, mert már nagyon fiatal kortól kezdve zenei stílusok széles skáláját hallgatják.</p>

<p>Számos tényező járult ehhez a kitettséghez, beleértve társadalmi, földrajzi, sőt történelmi tényezőket is, mint például:</p>

<ul>
  <li>az elhúzódó polgárháború, ami gyakorlatilag sok évre működésképtelenné tette az egész ország zeneiparát;</li>
  <li>a Kongói Demokratikus Köztársasághoz való közelség (É-ÉK-ről határolja Angolát), melynek fővárosa, Kinshasa volt az 1960-as és 70-es években az afrikai zene Mekkája;</li>
  <li>a kubai katonák két évtizedes jelenléte Angolában;</li>
  <li>egy viszonylag nagy Cape verdei (zöld-foki) bevándorló közösség él Angolában;</li>
  <li>angolai diákok ezreinek tapasztalatai, akiket állami ösztöndíjjal gazdag zenei élettel rendelkező országokba, mint például Kubába vagy Brazíliába stb. küldtek tanulni.</li>
</ul>

<p>Elit szintű zeneiség elsajátítása időt vesz igénybe. Éveket. Évtizedeket. Nem máról holnapra történik. Viszont egy egyszerű aranyszabály van: gyakran kell zenét hallgatnod (és lehetőleg hangosan), kifejezetten a táncparketten kívül, az óráid/workshop-ok után, a buli előtt stb.</p>

<p>A legfontosabb, hogy olyan zenét hallgass, ami a „mainstream kizomba” zenén kívül esik. Más szavakkal, szükségszerű, hogy zenei elméd hangolva legyen a kizomba „szüleinek” és „rokonainak”, vagyis a szembának, a zouknak, a kompának, a coladerának, a gumbének, a kadanznak (?) stb., a feldolgozására.</p>

<p>Az University of Kizomba (non-profit szervezet Luandában a kizomba népszerűsítéséért) összeállított egy lejátszási listát 30 a világ számos részéről származó számmal, melyek egyike sem Angolából vagy angolai zenésztől származik. Majdnem 3 órányi nem szükségszerűen népszerű zene, így ne várj kommersz dalokat, amiket a DJ-k mostanában játszanak a kereskedelmi fesztiválokon.</p>

<p class="bold">Az University of Kizomba azt javasolja, hogy ezt a listát többször hallgasd végig és ahol csak tudsz, táncolj rá! Ha kezdetben kényelmetlennek érzed a táncot ezekre a dalokra, mert nem vagy a hangzásukhoz szokva, akkor elértük a célunkat.</p>

<iframe width="100%" height="450" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/406325753&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>

<h2 class="medium">Felhasznált forrás</h2>
<ul>
  <li>University of Kizomba (2018). <a href="https://www.facebook.com/University.of.Kizomba/videos/584355508572946/">Building top-notch kizomba musicality.</a></li>
</ul>