<h1 class="post-title-size">Lélegezd be a múltat és lélegezd ki a jövőt! (University of Kizomba)</h1>
<p class="smallest pt0 mt0 mb2">2018. április 29.</p>

<p>Egyike a legszebb dolgoknak a fiatal és életvidám semba táncosok nemzedékét felnőni látni napjaink Angolájában.
</p>

<p>Némelyikük, a saját identitása és a személyes kreatív energiái ellenére utánozni igyekszik azt az eredetiséget és a légkört, amit az előző nemzedékek nagy táncosai („passistas”) fejtenek ki.
</p>

<p>Hasonlítsd össze a lenti két videót, és remélhetőleg érteni fogod, hogy mire gondolunk.
</p>

<p>Úgyhogy szeretnénk abban hinni/hisszük, hogy a semba „forráskód” él s virul és még mindig érintetlen Angolában, tekintet nélkül arra, hogy kétes-e vagy sem alakok megpróbálják „meghekkelni” azt máshol, megkérdőjelezhető célokból.
</p>

<p class="bold">Mindenesetre, a semba valódi lényegéhez hűnek maradni az egyetlen módja annak, hogy az angolaiak megóvják a táncot és fenntartsák annak létezését a mai gyors globalizáció és az ellenőrizhetetlen közösségi média korszakában.
</p>

<iframe class="center-align mx-auto mthalf shadow2" width="560" height="315" src="https://www.youtube.com/embed/yM-o5_pueqI?rel=0" frameborder="0" allow="encrypted-media" allowfullscreen></iframe>
<figcaption>Nelson Lima és Teresa Freitas a Kizomba Na Rua-n, Luandában</figcaption>

<iframe class="center-align mx-auto mthalf shadow2" width="560" height="315" src="https://www.youtube.com/embed/l4_NdzPLXDw?rel=0" frameborder="0" allow="encrypted-media" allowfullscreen></iframe>
<figcaption>Mr. & Mrs. António Rosa semba tánca</figcaption>

<h2 class="medium">Felhasznált forrás</h2>
<ul>
  <li>University of Kizomba (2017). <a class="underline" href="https://www.facebook.com/angolan/posts/10154343557447706">Inhale the past! Exhale the future</a></li>
</ul>
