<h1 class="post-title-size">Dalok, melyek az angolaiak számára nagyon sokat jelentenek</h1>
<p class="smallest pt0 mt0 mb2">2018. június 15.</p>

<h2 class="align-left">Ruca Vandunen – Manhã de domingo (Vasárnap reggel)</h2>
<p class="align-left">Gyerekek mennek le a sugárúton (Marginal Avenue, a tenger partján) a sziget felé (Ilha de Luanda félsziget). A ruhájuk szakadt, a hajuk rendezetlen és mezítláb vannak, de az arcuk boldog, annak ellenére ami történik, továbbra is szabadok és reményteljesek olyannyira, hogy hogy nem is érzik az égető talajt a lábuk alatt...</p>
<iframe class="center-align mx-auto mthalf shadow2" width="560" height="315" src="https://www.youtube.com/embed/VuVQ0nsSJZQ?rel=0" frameborder="0" allow="encrypted-media" allowfullscreen></iframe>

<h2 class="align-left mt3">Paulo Flores - Minha Velha</h2>
<p class="align-left">Paulo az édesanyjának egy napján halad keresztül, hogy hogyan volt régen Angolában. Reggel 5 órakor kelt fel, utána a mosodába ment, majd hazament és megterítette az asztalt reggelire, azután felkeltette a gyerekeket. Gondoskodott a tiszta ruhájukról, hogy kint játszhassanak. Volt ideje a szomszédokkal beszélgetni, ebédet főzni és a hátsó kertben délután szundítani egyet.</p>
<p class="align-left">Utána áttér a mostani helyzetre, Portugáliában. Az anyjának itt 8-kor kell kelnie, régen 5-kor kelt és kellemes meleg volt az idő, most viszont hideg volt egy távoli földön. A szeme a távolba réved, a szülőhazájában hagyott emlékeire gondol, visszasírva a múltat...</p>
<iframe class="center-align mx-auto mthalf shadow2" width="560" height="315" src="https://www.youtube.com/embed/uJF_jJE7b24?rel=0" frameborder="0" allow="encrypted-media" allowfullscreen></iframe>

<h2 class="align-left mt3">Hélvio - Muxima Uamiê (A szívem fáj)</h2>
<p class="align-left">A szívem fáj, mert Benguela-ban (város Angolában) hagytam a népem, az otthonomat, a földemet...</p>
<iframe class="center-align mx-auto mthalf shadow2" width="560" height="315" src="https://www.youtube.com/embed/tw3pqPqsEe8?rel=0" frameborder="0" allow="encrypted-media" allowfullscreen></iframe>