<h1 class="post-title-size">KIZOMBA vs. URBANKIZ (University of Kizomba)</h1>
<p class="smallest pt0 mt0 mb2">2018. április 30.</p>

<p>A mi számít kizombának és mi urbankiz-nek kérdés vonatkozásában a Facebook-on lefolytatott számos heves vita fényében úgy döntöttünk, megosztunk 2 videót, ami remélhetőleg szemlélteti, hogy ezek különböző táncok. Mindegyiknek megvannak a maga különálló elemei a felsőtesttartás, az altestmozgás, a lábmunka, a zeneiség, a ginga (vagy annak hiánya), pongue (?), a végrehajtás precizitása és merevsége, a partnerrel való kötődés (vagy annak hiánya), vonalas vagy körkörös mozgásmintázat stb. tekintetében… sőt még a zene is teljesen másnak érződik.
</p>

<p>Ahogyan mi látjuk, alapvetően semmi gond sincsen az urbankiz-zel – az egy másik tánc csupán, ami a saját útjára lépett felvéve a saját megjelenését és alakját. És mint ilyen, <b>nem kellene kizomba néven tanítani, sem pedig hirdetni/reklámozni</b> annak érdekében, hogy az újonnan érkezőket, akik nem tudják egykönnyen megállapítani, hogy e két tánc mennyire különböző világot képez, ne zavarják össze a továbbiakban.
</p>

<p>Vitathatóan, az urbankiz létrehozóit – bizonyos mértékig – a kizomba ihlette meg a mozgalmuk kezdetén, de az is kristálytiszta, hogy az urbankiz a maga útján kezdett el tovafejlődni, és napjainkra a kizombával való hasonlósága már alig vehető észre. Attól még, hogy egy „A” nevű híres urbankiz instruktor vagy egy „B” nevű másik népszerű urbankiz táncos elcsen egy lépést, egy mozdulatot vagy egy trükköt a kizombából, az nem teszi az urbankizt és a kizombát egyenlővé.
</p>

<p class="bold">Nyugodtan táncold a kizombát, az urbankiz-t, vagy mindkettőt! De váljon szokásunkká, hogy külön kezeljük és nevén nevezzük mindkét táncot annak ami, és ne próbáljuk összemosni egyetlen egységként, vagy még rosszabb, ugyanazon tánccsaládból származó „rokonokként” kezelni. Mert nem azok. És nincsen probléma ezzel sem.
</p>

<p>Külön köszönet jár Eddie Hercules-nek (urbankiz) és Pablo Nzo Conzo-nak (kizomba), hogy voltak olyan kedvesek engedélyezni e videók megosztását az oldalunkon.
</p>

<iframe class="center-align mx-auto mthalf shadow2" width="560" height="315" src="https://www.youtube.com/embed/9l9hjxtCoXA?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
<figcaption>Ez KIZOMBA!</figcaption>

<iframe class="center-align mx-auto mthalf shadow2" width="560" height="315" src="https://www.youtube.com/embed/jiQ6sKFvm_w?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
<figcaption>Ez URBANKIZ!</figcaption>

<h2 class="medium">Felhasznált forrás</h2>
<ul>
  <li>University of Kizomba (2017).<a class="underline" href="https://www.facebook.com/University.of.Kizomba/videos/503576009984230/">KIZOMBA vs URBANKIZ</a>.</li>
</ul>
