<p>Nem elég csak a lépéseket és a különböző figurákat tanulni, hanem a testet is fel kell készíteni a táncra. Az alábbi négy technika a lábak, a csípő, a törzs és a karok bemelegítését szolgálja. Ezeket a gyakorlatokat rendszeresen csinálom. A videók nem igényelnek bőségesebb magyarázatot. Csináljátok együtt Ennuel-lel!</p>
        
<h2>Az 1. gyakorlat: pipiskedés</h2>
<p>Pipiskedés 4 ütemre fel és 4 ütemre le, 8 ütemre fel és 8 ütemre le, illetve gyorsítással. Az izomláz a vádliban garantált! Érdemes lenyújtani a lábat utána.</p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/s1ch2WofLP4?rel=0" frameborder="0" allow="encrypted-media" allowfullscreen></iframe>
        
<h2>A 2. gyakorlat: a csípő bemelegítése</h2>
<p>A csípő hátra, majd vissza középre, illetve a csípő előre, majd vissza középre.</p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/-6plSCQLbMg?rel=0" frameborder="0" allow="encrypted-media" allowfullscreen></iframe>
        
<h2>A 3. gyakorlat: a felsőtest bemelegítése</h2>
<ol>
  <li>változat:<br />Jobb láb előre közben a felsőtest jobbra fordul, majd jobb láb hátra közben a felsőtest balra fordul. 8 ütemre!</li>
  <li>változat:<br />Bal láb előre közben a felsőtest balra fordul, majd bal láb hátra közben a felsőtest jobbra fordul. 8 ütemre!</li>
  <li>változat:<br />Bal láb előre közben a felsőtest balra fordul, majd vissza középre, utána jobb láb előre közben a felsőtest jobbra fordul, utána vissza középre... 8 ütemre!</li>
  <li>változat:<br />Az 1. és 2. változat gyorsabban. 4 ütemre!</li>
</ol>
<iframe width="560" height="315" src="https://www.youtube.com/embed/CRTYNcEfXig?rel=0" frameborder="0" allow="encrypted-media" allowfullscreen></iframe>
        
<h2>A 4. gyakorlat: a karok bemelegítése</h2>
<p>Ez a technika inkább a férfiaknak való, mert nekik kell karból vezetni (persze szinte csak a jobb karból, a bal kar szerepe a keret tartásában nagyrészt kimerül).</p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/08mVBWL8Tp4?rel=0" frameborder="0" allow="encrypted-media" allowfullscreen></iframe>
