<h2>Szemba, kizomba, ghetto zouk vagy tarraxinha?</h2>

<h3>A szemba és a kizomba zene közti különbség</h3>

<p>A kizomba és a szemba zene közti különbség leginkább az, hogy <bold>milyen hangszereket használnak bennük, és nem a zene tempója!</bold> A zenészek a kizombában hajlamosabbak elektronikus hangszereket használni, míg a hagyományos szemba számokban inkább az akusztikusakat részesítik előnyben. Ez az elkülönítés nem egy szigorú szabály, mivel számos modern szemba szám szintén használ elektronikus elemeket, sőt a kizomba is hasonlíthat a szembához a választott hangszerektől függően.</p>
<p>De hogy tovább nehezítsük az elkülönítést, sok angolai <bold>a kizombát gyűjtőfogalomként használja az összes stílusra</bold> (tarraxa, ghetto zouk, colazouk, kizomba, szemba stb.). Ezek különálló zenei stílusokat képeznek, hiszen akkor nem neveznék őket másnak.</p>
<p>Általános szabályként az állapítható meg, hogy a <bold>kizomba számokban tipikus a zongora/szintetizátor és a basszusgitár</bold>. A <bold>szemba</bold> esetén pedig a <bold>dikanza</bold> (ütős hangszer), a <bold>batuque</bold> (konga dob) és a <bold>harmonika</bold>. Természetesen vannak itt is kivételek!</p>

<img class="normal" src="./../../../assets/images/dikanza.jpg" alt="Dikanza" title="Dikanza"/>
<img class="normal" src="./../../../assets/images/batuque.jpg" alt="Batukue" title="Batuque"/>

<p>A kizomba sokszor élő hangszereket is használ (például dobot, gitárt, trombitát, szaxofont stb.) a szemba gyökerei miatt.</p>

<iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/CAMcW75KdMA?rel=0" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
<figcaption>1. videó: Szemba</figcaption>

<iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/w84_GGikNpM?rel=0" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
<figcaption>2. videó: Kizomba</figcaption>

<h3>A tarraxinha</h3>

<p>A tarraxinhát vagy tarraxát <strong>elektronikus hangzás és kemény basszus</strong> jellemzi pumpáló-lüktető érzést kiváltva. <bold>Teljes egészében szintetikusan</bold> állítják elő dobgéppel, szintetizátorokkal és vokállal. A tarraxinha táncnál <bold>az izolációs csípőmozgásokon</bold> (kifejezetten a nő részéről) és a különböző hullámázásokon van a hangsúly. A lépésekkel csak kis távolságokat tesznek meg. Két tipikus tarraxa előadó Yudi Fox és Badoxa (nem minden számuk tarraxa!).</p>

<iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/iiwEwbxXN74?rel=0" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
<figcaption>3. videó: Jellegzetes tarraxinha szám</figcaption>

<iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/q3IAO5suyb8?rel=0" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
<figcaption>4. videó: Jellegzetes tarraxinha szám</figcaption>

<h3>A ghetto zouk</h3>

<p>A ghetto zouk hasonlít a tarraxinhára. <strong>Szintén elektronikus</strong> zenék (dobgép + szintetizátor/keyboard), de <strong>erős R&B hatással.</strong> Ennek eredményeképpen <bold>az ének sokkal dallamosabb</bold>, mint a tarraxa esetén. Két tipikus ghetto zouk előadó Kaysha és Nelson Freitas.</p>

<iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/whH2oDg28-k?rel=0" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
<figcaption>5. videó: Jellegzetes ghetto zouk szám</figcaption>

<iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/7y2dYhrMWQY?rel=0" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
<figcaption>6. videó: Jellegzetes ghetto zouk szám</figcaption>

<h3>Felhasznált forrás</h3>

<ul class="literature">
  <li>AfroLatino Dance Company (2015). <a href="http://afrolatinodance.com/2015/08/12/kizomba-as-musical-genre/">Kizomba as a Musical Genre.</a></li>
</ul>