<!doctype html>
<html lang="hu">
<%- include('../partials/head') %>
<body>
  <div class="flex-container">

    <div class="site-header">
    <%- include('../partials/header') %>
    </div>

    <div class="wrapper">
    <%- body %>
    <%- include('../partials/footer') %>
    </div>

  </div>
</body>
</html>