<!doctype html>
<html lang="hu">
<%- include('../partials/head-post.ejs') %>
<body>
  <div class="sm-col-12 md-col-12 lg-col-7 col-8 mt1 pl1 pr1 mx-auto align-left"> 
  <%- body %>
  </div>
  <div class="sm-col-12 md-col-12 lg-col-6 col-7 mx-auto align-center">
  <%- include('../partials/bottom-navbar.ejs') %>
  </div>
</body>
</html>